<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="element-wrapper" th:if="${isEnterprise == false}">
    <h4 class="element-header">
        <b>Terme contrat </b>
    </h4>
    <div style="margin-top:17px;display:block; float:left; width:100%" class="element-box">
        <div style="width:90%; display:block; margin:0 auto">
            <form class="FormSit3" th:action="@{/demande/termeContrat}" th:method="POST" th:object="${user}" id="contactForm">

            <div class="titreSimu4">
                    <div class="infoline">
                        <div style="width:50%; display:block;  float:left; margin-right:20px">
                            <select id="police">
                                <option disabled selected>Contrat</option>
                                <option th:each="contrat : ${contrats}" th:value="${contrat?.police}" th:text="${contrat?.police}">Contrat</option>
                            </select>
                        </div>

                        <div style="width:40%; display:block; float:right; ">

                            <select>
                                <option disabled selected>Lieu de demande</option>
                                <option disabled="" selected="">Lieu de demande</option>
                                <option value="Abidjan">Abidjan</option>
                                <option value="Bouaké">Bouaké</option>
                                <option value="Daloa">Daloa</option>
                                <option value="Yamoussoukro">Yamoussoukro</option>
                                <option value="Divo">Divo</option>
                                <option value="San-Pedro">San-Pedro</option>
                                <option value="Bassam">Bassam</option>
                                <option value="Soubré">Soubré</option>
                                <option value="Adzopé">Adzopé</option>
                                <option value="Abengourou">Abengourou</option>
                                <option value="Bondoukou">Bondoukou</option>
                                <option value="Aboisso">Aboisso</option>
                                <option value="Meagui">Meagui</option>
                                <option value="Noé">Noé</option>
                                <option value="Korhogo">Korhogo</option>
                                <option value="Issia">Issia</option>
                                <option value="Vavoua">Vavoua</option>
                                <option value="Man">Man</option>
                                <option value="Ferke">Ferke</option>
                                <option value="Agnibilekro">Agnibilekro</option>
                                <option value="Fresco">Fresco</option>
                                <option value="Adiaké">Adiaké</option>
                                <option value="Bingerville">Bingerville</option>
                                <option value="Agboville">Agboville</option>
                                <option value="Alepé">Alepé</option>
                                <option value="Bonoa">Bonoa</option>
                                <option value="Autre">Autre</option>                            </select>
                        </div>
                    </div>
                    <!--<div style="width:100%; display:block; float:left; margin-top:10px; text-align:justify">-->
                    <!--<input type="text" class="valeurMontant" value=""  placeholder="Montant du rachat partiel" />-->
                    <!--</div>-->

                </div>
                <div class="infoline" style="margin-top:40px">
                    <div style="width:100%; display:block;  float:left;  ">
                        <p th:text="'Nom et Prenom : '+${perso?.lastname}">Nom et prenom :</p>
                        <p th:text="'Adresse : '+${perso?.address}">Adresse :</p>
                        <p th:text="'Contact : '+${perso?.phone}">Contact :</p>
                        <!--Contact : <br>
                        Adresse postale : <br>-->
                    </div>
                    <div style="width:30%; display:block;  float:right; padding-top:10px; text-align:center  " th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy')}">
                        Abidjan le 02 Janvier 2017
                    </div>

                </div>
                <div class="infoline">
                    <div style="width:30%; display:block; float:right; text-align:center">
                        <b>A<br>l’attention du Directeur Général<br>de SAHAM Assurance Vie</b>
                    </div>
                </div>
                <div class="infoline2">
                    <div class="infolineLeft">
                        <b>Objet : Terme contrat </b>
                    </div>

                </div>


                <div style="width:100%; display:block; float:left; margin-top:30px; text-align:justify">
                    Monsieur,<br><br>

                    Je viens par la présente, demander une prestation de Terme contrat .<br>
                    <br>
                    Dans l’attente d’une suite favorable,  je vous prie d’agréer, Monsieur le Directeur Général, mes salutations distinguées.
                    <br><br>
                    Cordialement,                     </div>

                <div style="width:30%; display:block; margin-top:70px; float:right;">
                    <input type="submit" value="Valider" />
                </div>

            </form>
        </div>
    </div>
</div>
<div class="element-wrapper" th:if="${isEnterprise}">
    <h4 class="element-header">
        <b>Rachat total</b>
    </h4>
    <div style="margin-top:17px;display:block; float:left; width:100%" class="element-box">
        <div style="width:90%; display:block; margin:0 auto">
            <form th:action="@{/termeContrat/corporate}" th:method="POST" id="forminfo">
                <div class="FormSit3">

                    <div class="titreSimu4">
                        <div style="width:100%; display:block; float:left">
                            <div style="width:80%; display:block; float:left">
                                <div style="width:100%; display:block; float:left; margin-bottom:10px; text-align:justify">
                                    <!--<input type="text" class="valeurMontant" id="nom" name="nom" value=""  placeholder="Nom" />-->
                                </div>
                                <div class="infoline">
                                    <div style="width:50%; display:block;  float:left; margin-right:20px">
                                        <select id="contratD" name="contrat">
                                            <option disabled selected>Contrat</option>
                                            <option th:each="contrat : ${contrats}" th:value="${contrat?.id}" th:text="${contrat?.assure}">Contrat</option>
                                        </select>
                                    </div>

                                    <div style="width:40%; display:block; float:right; ">
                                        <select id="lieu" name="lieu">
                                            <option disabled="" selected="">Lieu de demande</option>
                                            <option disabled="" selected="">Lieu de demande</option>
                                            <option value="Abidjan">Abidjan</option>
                                            <option value="Bouaké">Bouaké</option>
                                            <option value="Daloa">Daloa</option>
                                            <option value="Yamoussoukro">Yamoussoukro</option>
                                            <option value="Divo">Divo</option>
                                            <option value="San-Pedro">San-Pedro</option>
                                            <option value="Bassam">Bassam</option>
                                            <option value="Soubré">Soubré</option>
                                            <option value="Adzopé">Adzopé</option>
                                            <option value="Abengourou">Abengourou</option>
                                            <option value="Bondoukou">Bondoukou</option>
                                            <option value="Aboisso">Aboisso</option>
                                            <option value="Meagui">Meagui</option>
                                            <option value="Noé">Noé</option>
                                            <option value="Korhogo">Korhogo</option>
                                            <option value="Issia">Issia</option>
                                            <option value="Vavoua">Vavoua</option>
                                            <option value="Man">Man</option>
                                            <option value="Ferke">Ferke</option>
                                            <option value="Agnibilekro">Agnibilekro</option>
                                            <option value="Fresco">Fresco</option>
                                            <option value="Adiaké">Adiaké</option>
                                            <option value="Bingerville">Bingerville</option>
                                            <option value="Agboville">Agboville</option>
                                            <option value="Alepé">Alepé</option>
                                            <option value="Bonoa">Bonoa</option>
                                            <option value="Autre">Autre</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="validate" style="width:15%; display:block; padding-top:30px; padding-left:10px; float:right">
                                <input type="button" id="sendrachat" name="sendrachat"  value="Ajouter" />
                            </div>
                        </div>
                    </div>

                    <div class="infoline" style="margin-top:40px">
                        <div style="width:auto; display:block;  float:left;  ">
                           <!-- Nom et Prénom(s) :  <br>
                            Contact : <br>
                            Adresse postale : <br><br>-->

                        </div>
                        <div style="width:30%; display:block;  float:right; padding-top:10px; text-align:center" th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy')}">
                            Abidjan le 02 Janvier 2017
                        </div>

                    </div>
                    <div class="infoline">
                        <div style="width:30%; display:block; float:right; text-align:center">
                            <b>A<br>l’attention du Directeur Général<br>de SAHAM Assurance Vie</b>
                        </div>
                    </div>
                    <div class="infoline2">
                        <div class="infolineLeft">
                            <b>Objet : Terme contrat </b>
                        </div>

                    </div>
                    <div style="width:100%; display:block; float:left; margin-top:30px; text-align:justify">
                        Monsieur,<br><br>

                        Je viens par la présente, demander une prestation de terme pour les contrats ci-dessous.<br>
                        <br>
                        <table class="tableRachat" width="80%"  border="0">
                            <thead>
                            <tr class="titrerachat">
                                <td>Nom</td>
                                <td>Contrat</td>
                                <td>Lieu de demande</td>
                                <td></td>
                            </tr>

                            </thead>
                            <tbody id="showrachat">
                            <tr th:each="asked: ${termes}">
                                <td th:text="${asked?.personne}">Toure</td>
                                <td th:text="${asked?.numContrat}">1552252626</td>
                                <td th:text="${asked?.ville}">Daloa</td>
                                <td><a th:href="'javascript:deleteAsker('+${asked.idContrat}+')'"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                <!--                                <td><a th:href="@{/deleteAskeur/} + ${asked.idContrat}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>-->
                            </tr>
                            </tbody>
                        </table>

                        <br>
                        Dans l’attente d’une suite favorable,  je vous prie d’agréer, Monsieur le Directeur Général, mes salutations distinguées.
                        <br><br>
                        Cordialement,
                    </div>

                    <div style="width:30%; display:block; margin-top:70px; float:right;">
                        <input type="submit" value="Valider" />
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
<script>
    $("#sendrachat").click(function() {

        var dataString=$("#forminfo").serialize();
        // $('html, body').animate({scrollTop:$('#showrachat').offset().top}, 300);
        console.log("dataString : "+dataString);

        $.ajax({
            type: "GET",
            url: "/api/v1/sahamvie/ask/termeContrat/corporate",
            data: dataString,
            success : function(response) {
                console.log(response);
                $(".tableRachat tbody").empty();
                for (var i = 0; i < response.data.length; i++) {
                    var markup = "<tr><td>" + response.data[i].personne + "</td><td>" + response.data[i].numContrat + "</td><td>" + response.data[i].ville + "</td><td class='supprimer'><a href='javascript:deleteAsker("+response.data[i].idContrat+");'><i class='fa fa-trash' aria-hidden='true'></i></a></td></tr>";
                    $(".tableRachat tbody").append(markup);
                }
                $('html, body').animate({scrollTop: $('#showrachat').offset().top}, 300);


            }
        });
        return false;
    });

    function deleteAsker(ref) {
        $.ajax({
            url : '/api/v1/sahamvie/deleteAskeurTerme',
            type : 'GET',
            data : 'ref=' + ref ,
            beforeSend : function() {

            },
            success : function(response) {
                $(".tableRachat tbody").empty();
                for (var i = 0; i < response.data.length; i++) {
                    var markup = "<tr><td>" + response.data[i].personne + "</td><td>" + response.data[i].numContrat + "</td><td>" + response.data[i].ville + "</td><td class='supprimer'><a href='javascript:deleteAsker("+response.data[i].idContrat+");'><i class='fa fa-trash' aria-hidden='true'></i></a></td></tr>";
                    $(".tableRachat tbody").append(markup);
                }
                $('html, body').animate({scrollTop: $('#showrachat').offset().top}, 300);            },
            complete : function() { },
            error : function(jqXHR) {
                content.html(jqXHR.responseText); }
        }) }
</script>
</body>
</html>