<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div class="element-wrapper" th:if="${isEnterprise == false}">
    <h4 class="element-header">
        <b>Rachat partiel</b>
    </h4>
    <div style="margin-top:17px;display:block; float:left; width:100%" class="element-box">
        <div style="width:90%; display:block; margin:0 auto">
            <form class="FormSit3" th:action="@{/demande/rachatPartiel}" th:method="POST" th:object="${user}" id="contactForm">
                <div class="titreSimu4">
                    <div class="infoline">
                        <div style="width:50%; display:block;  float:left; margin-right:20px">
                            <select name="police" id="police_rach_par">
                                <option disabled selected>Contrat</option>
                                <!--<option th:each="contrat : ${contrats}" th:value="${contrat?.police}" th:text="${contrat?.police}">Contrat</option>-->
                            </select>
                        </div>

                        <div style="width:40%; display:block; float:right; ">
                            <select name="lieuDemande" id="lieuDemande" onchange="getVilles(this.getAttribute('id'));">
                                <option disabled selected>Lieu de demande</option>
                                <option disabled="" selected="">Lieu de demande</option>
                                <option value="Abidjan">Abidjan</option>
                                <option value="Bouaké">Bouaké</option>
                                <option value="Daloa">Daloa</option>
                                <option value="Yamoussoukro">Yamoussoukro</option>
                                <option value="Divo">Divo</option>
                                <option value="San-Pedro">San-Pedro</option>
                                <option value="Bassam">Bassam</option>
                                <option value="Soubré">Soubré</option>
                                <option value="Adzopé">Adzopé</option>
                                <option value="Abengourou">Abengourou</option>
                                <option value="Bondoukou">Bondoukou</option>
                                <option value="Aboisso">Aboisso</option>
                                <option value="Meagui">Meagui</option>
                                <option value="Noé">Noé</option>
                                <option value="Korhogo">Korhogo</option>
                                <option value="Issia">Issia</option>
                                <option value="Vavoua">Vavoua</option>
                                <option value="Man">Man</option>
                                <option value="Ferke">Ferke</option>
                                <option value="Agnibilekro">Agnibilekro</option>
                                <option value="Fresco">Fresco</option>
                                <option value="Adiaké">Adiaké</option>
                                <option value="Bingerville">Bingerville</option>
                                <option value="Agboville">Agboville</option>
                                <option value="Alepé">Alepé</option>
                                <option value="Bonoa">Bonoa</option>
                                <option value="Autre">Autre</option>
                            </select>

                        </div>
                    </div>
                    <div style="width:100%; display:block; float:left; margin-top:10px; text-align:justify">
                    <input type="text" class="valeurMontant" value="" name="montant" id="amount" placeholder="Montant du rachat partiel" />
                    </div>

                </div>
                <div class="infoline" style="margin-top:40px">
                    <div style="width:100%; display:block;  float:left;  ">
                        <p th:text="'Nom et Prenom : '+${perso?.lastname}">Nom et prenom :</p>
                        <p th:text="'Adresse : '+${perso?.address}">Adresse :</p>
                        <p th:text="'Contact : '+${perso?.phone}">Contact :</p>
                        <!--Contact : <br>
                        Adresse postale : <br>-->
                    </div>
                    <div style="width:30%; display:block;  float:right; padding-top:10px; text-align:center  ">
                        <span id="lieuDemaneResult">Abidjan</span> le <span th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy')}">02 Janvier 2017</span>
                    </div>

                </div>
                <div class="infoline">
                    <div style="width:30%; display:block; float:right; text-align:center">
                        <b>A<br>l’attention du Directeur Général<br>de SANLAM Assurance Vie</b>
                    </div>
                </div>
                <div class="infoline2">
                    <div class="infolineLeft">
                        <b>Objet : Rachat partiel </b>
                    </div>

                </div>


                <div style="width:100%; display:block; float:left; margin-top:30px; text-align:justify">
                    Monsieur,<br><br>

                    Je viens par la présente, demander une prestation de Rachat partiel  d’un montant de <b id="montant">Montant</b> FCFA
                    <br>
                    Dans l’attente d’une suite favorable,  je vous prie d’agréer, Monsieur le Directeur Général, mes salutations distinguées.
                    <br><br>
                    Cordialement,                     </div>

                <div style="width:30%; display:block; margin-top:70px; float:right;">
                    <input type="submit" value="Valider" />
                </div>

            </form>
        </div>
    </div>
</div>
<div class="element-wrapper" th:if="${isEnterprise}">
    <h4 class="element-header">
        <b>Rachat partiel</b>
    </h4>
    <div style="margin-top:17px;display:block; float:left; width:100%" class="element-box">
        <div style="width:90%; display:block; margin:0 auto">
            <form action="" id="forminfo" method="post">
                <div class="FormSit3">

                    <div class="titreSimu4">
                        <div style="width:100%; display:block; float:left">
                            <div style="width:80%; display:block; float:left">
                                <div style="width:100%; display:block; float:left; margin-bottom:10px; text-align:justify">
                                    <input type="text" class="valeurMontant" id="nom" name="nom" value=""  placeholder="Nom" />
                                </div>
                                <div class="infoline">
                                    <div style="width:50%; display:block;  float:left; margin-right:20px">
                                        <select id="contratD_rach_par" name="contrat">
                                            <option disabled selected>Contrat</option>
                                            <option>test c</option>
                                        </select>
                                    </div>

                                    <div style="width:40%; display:block; float:right; ">
                                        <select id="lieu" name="lieu" onchange="getVilles(this.getAttribute('id'));">
                                            <option disabled="" selected="">Lieu de demande</option>
                                            <option value="1">Abidjan</option>
                                            <option value="2">Bouaké</option>
                                            <option value="3">Daloa</option>
                                            <option value="4">Yamoussoukro</option>
                                            <option value="5">Divo</option>
                                            <option value="6">San-Pedro</option>
                                            <option value="7">Bassam</option>
                                            <option value="8">Soubré</option>
                                            <option value="9">Adzopé</option>
                                            <option value="10">Abengourou</option>
                                            <option value="11">Bondoukou</option>
                                            <option value="12">Aboisso</option>
                                            <option value="13">Meagui</option>
                                            <option value="14">Noé</option>
                                            <option value="15">Korhogo</option>
                                            <option value="16">Issia</option>
                                            <option value="17">Vavoua</option>
                                            <option value="18">Man</option>
                                            <option value="19">Ferke</option>
                                            <option value="20">Agnibilekro</option>
                                            <option value="21">Fresco</option>
                                            <option value="22">Adiaké</option>
                                            <option value="23">Bingerville</option>
                                            <option value="24">Agboville</option>
                                            <option value="25">Alepé</option>
                                            <option value="26">Bonoa</option>
                                            <option value="27">Autre</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="width:100%; display:block; float:left; margin-top:10px; text-align:justify">
                                    <input type="text" class="valeurMontant" id="montant" name="montant" value=""  placeholder="Montant du rachat partiel" />
                                </div>
                            </div>
                            <div class="validate" style="width:15%; display:block; padding-top:30px; padding-left:10px; float:right">
                                <input type="button" id="sendrachat" name="sendrachat"  value="Ajouter" />
                            </div>
                        </div>
                    </div>
                    <div class="infoline" style="margin-top:40px">
                        <div style="width:auto; display:block;  float:left;  ">
                            Nom et Prénom(s) :  <br>
                            Contact : <br>
                            Adresse postale : <br><br>

                        </div>
                        <div style="width:30%; display:block;  float:right; padding-top:10px; text-align:center  ">
                            <span id="lieuDemaneResult">Abidjan</span> le <span th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy')}">02 Janvier 2017</span>
                        </div>

                    </div>
                    <div class="infoline">
                        <div style="width:30%; display:block; float:right; text-align:center">
                            <b>A<br>l’attention du Directeur Général<br>de SANLAM Assurance Vie</b>
                        </div>
                    </div>
                    <div class="infoline2">
                        <div class="infolineLeft">
                            <b>Objet : Rachat total </b>
                        </div>

                    </div>


                    <div style="width:100%; display:block; float:left; margin-top:30px; text-align:justify">
                        Monsieur,<br><br>

                        Je viens par la présente, demander une prestation de Rachat partiel d’un montant de <b>MONTANT FCFA</b> .<br>
                        <br>
                        <table class="tableRachat" width="80%"  border="0">
                            <thead>
                            <tr class="titrerachat">
                                <td>Nom</td>
                                <td>Contrat</td>
                                <td>Lieu de demande</td>
                                <td>Montant</td>
                                <td></td>
                            </tr>

                            </thead>
                            <tbody id="showrachat"></tbody>
                        </table>

                        <br>
                        Dans l’attente d’une suite favorable,  je vous prie d’agréer, Monsieur le Directeur Général, mes salutations distinguées.
                        <br><br>
                        Cordialement,                     </div>

                    <div style="width:30%; display:block; margin-top:70px; float:right;">
                        <input type="submit" value="Valider" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $('input[name=montant]').change(function() {
        $('#montant').text($('#amount').val());
    });

    function getVilles(id){
        $('#lieuDemaneResult').text($('#'+id).val());
        alert($('#'+id).val());
    }
</script>

</body>
</html>