<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<!--
<div class="element-wrapper">
    <h4 class="element-header">
        <b>Compte de résultat</b>
    </h4>
    <div style="margin-top:17px;" class="element-box">
        <div class="w90">
            <div class="titreSimuLeft">
                Année 2017
            </div>
            <div class="titreSimuRight">
                <a href="javascript:generatePdf()" title="Exporter en PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="FormSit2" id="monPdf">
            <div class="w95">
                <p class="logoPdf" style="display: none"><img src="../img/logo_saham-vie.png" /></p>

                <div class="titreSimu" align="center">
                    COMPTE DE RESULTATS AU <strong th:text="${compteResultat?.dateCompteResultat} ? ${#dates.format(compteResultat?.dateCompteResultat,'dd/MM/yyyy')}" >30/09/2017</strong> DU CONTRAT DE<strong th:text="${compteResultat?.typeContrat}">RETRAITE COMPLEMENTAIRE</strong> DE <strong th:text="${compteResultat?.societe}">"SOCIETE"</strong>
                </div>
                <p>&nbsp;</p>

                <table border="1" cellspacing="0" cellpadding="0" class="Tablecenter">
                    <tr>
                        <td><p><strong>DEBIT</strong></p></td>
                        <td><p><strong>&nbsp;</strong></p></td>
                        <td><p><strong>CREDIT</strong></p></td>
                        <td><p><strong>&nbsp;</strong></p></td>
                    </tr>
                    <tr>
                        <td><p>PRESTATIONS PAYEES AU COURS DE L'EXERCICE <strong th:text="${compteResultat?.anneeExercice}">2017</strong>  </p></td>
                        <td><p th:text="${compteResultat?.prestationPayees} ? ${#numbers.formatInteger(compteResultat?.prestationPayees,3,'POINT')}+' FCFA':'0 FCFA'">1 131 126 476 FCFA</p></td>
                        <td><p>REPORT DU SOLDE AU <strong th:text="${compteResultat?.dateReportSolde} ? ${#dates.format(compteResultat?.dateReportSolde,'dd/MM/yyyy')}" >31/12/2016</strong> </p></td>
                        <td><p th:text="${compteResultat?.reportDuSolde} ? ${#numbers.formatInteger(compteResultat?.reportDuSolde,3,'POINT')}+' FCFA':'0 FCFA'">7 154 763 385 FCFA</p></td>
                    </tr>
                    <tr>
                        <td><p>FRAIS DE GESTION SUR COTISATION DE L'EXERCICE <strong th:text="${compteResultat?.anneeExercice}">2017</strong> </p></td>
                        <td><p th:text="${compteResultat?.fraisGestionSurCotisation} ? ${#numbers.formatInteger(compteResultat?.fraisGestionSurCotisation,3,'POINT')}+' FCFA':'0 FCFA'">19 940 255 FCFA</p></td>

                        <td><p>COTISATIONS NETTES DE TAXES ENCAISSEES </p></td>
                        <td><p th:text="${compteResultat?.cotisationNetteTaxe} ? ${#numbers.formatInteger(compteResultat?.cotisationNetteTaxe,3,'POINT')}+' FCFA':'0 FCFA'">498 506 384 FCFA</p></td>
                    </tr>
                    <tr>
                        <td><p>FRAIS DE GESTION SUR L'EPARGNE DE L'EXERCICE <strong th:text="${compteResultat?.anneeExercice}">2017</strong>  </p></td>
                        <td><p
                                th:text="${compteResultat?.fraisGestionSurEpargne} ? ${#numbers.formatInteger(compteResultat?.fraisGestionSurEpargne,3,'POINT')}+' FCFA':'0 FCFA'"
                        >0</p></td>
                        <td><p>INTERET GARANTI </p></td>
                        <td><p th:text="${compteResultat?.interetGaranti} ? ${#numbers.formatInteger(compteResultat?.interetGaranti,3,'POINT')}+' FCFA':'0 FCFA'">0</p></td>
                    </tr>
                    <tr>
                        <td><p>&nbsp;</p></td>
                        <td><p>&nbsp;</p></td>
                        <td><p>PARTICIPATIONS AUX BENEFICES AU 01-01-<strong th:text="${compteResultat?.anneeExercice}">2017</strong> </p></td>
                        <td><p th:text="${compteResultat?.participationOBenef} ? ${#numbers.formatInteger(compteResultat?.participationOBenef,3,'POINT')}+' FCFA':'0 FCFA'">0</p></td>
                    </tr>
                    <tr>
                        <td><p>&nbsp;</p></td>
                        <td><p>&nbsp;</p></td>
                        <td><p>&nbsp;</p></td>
                        <td><p>&nbsp;</p></td>
                    </tr>
                    <tr>
                        <td><p><strong>SOLDE CREDITEUR</strong></p></td>
                        <td><p th:text="${compteResultat?.soldeCrediteur} ? ${#numbers.formatInteger(compteResultat?.soldeCrediteur,3,'POINT')}+' FCFA':'0 FCFA'">0</p></td>
                        <td><p>&nbsp;</p></td>
                        <td><p>&nbsp;</p></td>
                    </tr>
                    <tr>
                        <td><p>&nbsp;</p></td>
                        <td><p>&nbsp;</p></td>
                        <td><p>&nbsp;</p></td>
                        <td><p>&nbsp;</p></td>
                    </tr>
                    <tr>
                        <td><p><strong>TOTAL DEBIT FCFA</strong><strong> </strong></p></td>
                        <td><p th:text="${compteResultat?.totalDebit} ? ${#numbers.formatInteger(compteResultat?.totalDebit,3,'POINT')}+' FCFA':'0 FCFA'">0</p></td>
                        <td><p><strong>TOTAL CREDIT</strong><strong> </strong></p></td>
                        <td><p th:text="${compteResultat?.totalCredit} ? ${#numbers.formatInteger(compteResultat?.totalCredit,3,'POINT')}+' FCFA':'0 FCFA'">0</p></td>
                    </tr>
                </table>
            </div>
            <p class="logoPdf" style="display: none" align="right" th:text="'Téléchargé le '+${#dates.format(#dates.createNow(), 'dd MMM yyyy')}">Téléchargé le </p>
        </div>
    </div>
</div>
-->

<div class="element-wrapper">
    <h4 class="element-header compte-resultat">
        <b>Compte de résultat</b>
    </h4>
    <div style="margin-top:17px;" class="element-box">
        <div class="w90">
            <div class="titreSimuLeft" th:text="${sitgble?.dateSituation} ? 'Année '+${#dates.format(sitgble?.dateSituation,'yyyy')}">
                Année 2018
            </div>
            <div class="titreSimuRight">
                <a href="javascript:generatePdf()" title="Exporter en PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="FormSit2" id="monPdf">
            <div class="w95">
                <p class="logoPdf" style="display: none"><img src="../img/LOGO_SANLAM.jpg" /></p>
                <div class="titreSimu" align="center">
                    COMPTE DE RESULTAT AU <span th:text="${compteResultat?.dateCompteResultat} ? ${#dates.format(compteResultat?.dateCompteResultat,'dd/MM/yyyy')}" >30/09/2017</span> DU CONTRAT <span th:text="${compteResultat?.typeContrat}">RETRAITE COMPLEMENTAIRE</span>  <span th:text="${compteResultat?.societe}">"SOCIETE"</span>
                </div>
                <p>&nbsp;</p>

                <table class="classp" border="0" cellspacing="0" cellpadding="0" style="background:#fdfdfd;">
                    <tr style="border-bottom:1px solid #000">
                        <td width="47" valign="top"><p>Débit  </p></td>
                        <td width="19" valign="top"><p>&nbsp;</p></td>
                        <td width="196" valign="top"><p align="right"><b th:text="${compteResultat?.totalDebit} ? ${#numbers.formatInteger(compteResultat?.totalDebit,3,'POINT')}+' FCFA':'0 FCFA'">1 939 008 FCFA</b></p></td>
                        <td width="73" valign="top" style=" border:1px solid #fff"><p>&nbsp;</p></td>
                        <td width="47" valign="top"><p>Crédit</p></td>
                        <td width="19" valign="top"><p>&nbsp;</p></td>
                        <td width="196" valign="top"><p align="right"><b th:text="${compteResultat?.totalCredit} ? ${#numbers.formatInteger(compteResultat?.totalCredit,3,'POINT')}+' FCFA':'0 FCFA'">37 222 221 FCFA</b></p></td>
                    </tr>
                    <tr>
                        <td width="604" colspan="7" valign="top"><p>&nbsp;</p></td>
                    </tr>
                    <tr>
                        <td width="261" colspan="3" valign="top"><p>Prestations pay&eacute;es en <span th:text="${compteResultat?.anneeExercice}">2017</span></p></td>
                        <td width="73" rowspan="7" valign="top"><p>&nbsp;</p></td>
                        <td width="270" colspan="3" valign="top"><p>Report du solde au&nbsp;<span th:text="${compteResultat?.dateReportSolde} ? ${#dates.format(compteResultat?.dateReportSolde,'dd/MM/yyyy')}" >31/12/2016</span> </p></td>
                    </tr>
                    <tr>
                        <td width="261" colspan="3" valign="top"><p align="right"><b th:text="${compteResultat?.prestationPayees} ? ${#numbers.formatInteger(compteResultat?.prestationPayees,3,'POINT')}+' FCFA':'0 FCFA'">1 313 208 FCFA</b></p></td>
                        <td width="270" colspan="3" valign="top"><p align="right"><b th:text="${compteResultat?.reportDuSolde} ? ${#numbers.formatInteger(compteResultat?.reportDuSolde,3,'POINT')}+' FCFA':'0 FCFA'">37 222 221 FCFA</b></p></td>
                    </tr>
                    <tr>
                        <td width="261" colspan="3" valign="top"><p>Frais de gestion sur cotisations en <span th:text="${compteResultat?.anneeExercice}">2017</span></p></td>
                        <td width="270" colspan="3" valign="top"><p>Cotisations nettes de taxes encaissées</p></td>
                    </tr>
                    <tr>
                        <td width="261" colspan="3" valign="top"><p align="right"><strong th:text="${compteResultat?.fraisGestionSurCotisation} ? ${#numbers.formatInteger(compteResultat?.fraisGestionSurCotisation,3,'POINT')}+' FCFA':'0 FCFA'">625 800 FCFA</strong></p></td>
                        <td width="270" colspan="3" valign="top"><p align="right"><strong th:text="${compteResultat?.cotisationNetteTaxe} ? ${#numbers.formatInteger(compteResultat?.cotisationNetteTaxe,3,'POINT')}+' FCFA':'0 FCFA'">15 019 200 FCFA</strong></p></td>
                    </tr>
                    <tr>
                        <td width="261" colspan="3" valign="top"><p>Frais de gestion sur Epargne en <span th:text="${compteResultat?.anneeExercice}">2017</span></p></td>
                        <td width="270" colspan="3" valign="top"><p>Int&eacute;r&ecirc;ts garantis</p></td>
                    </tr>
                    <tr>
                        <td width="261" colspan="3" valign="top"><p align="right"><strong th:text="${compteResultat?.fraisGestionSurEpargne} ? ${#numbers.formatInteger(compteResultat?.fraisGestionSurEpargne,3,'POINT')}+' FCFA':'0 FCFA'">0 CFA</strong></p></td>
                        <td width="270" colspan="3" valign="top"><p align="right"><strong th:text="${compteResultat?.interetGaranti} ? ${#numbers.formatInteger(compteResultat?.interetGaranti,3,'POINT')}+' FCFA':'0 FCFA'">1 147 639 FCFA</strong></p></td>
                    </tr>
                    <tr th:if="${compteResultat?.participationOBenef > 0}">
                        <td width="261" colspan="3" valign="top"><p>&nbsp;</p></td>
                        <td width="270" colspan="3" valign="top"><p>Participation aux b&eacute;n&eacute;fices au 01-01-<span th:text="${compteResultat?.anneeExercice}">2017</span> </p></td>
                    </tr>
                    <tr th:if="${compteResultat?.participationOBenef > 0}">
                        <td width="261" colspan="3" valign="top"><p>&nbsp;</p></td>
                        <td width="73" valign="top"><p>&nbsp;</p></td>
                        <td width="270" colspan="3" valign="top"><p align="right"><strong th:text="${compteResultat?.participationOBenef} ? ${#numbers.formatInteger(compteResultat?.participationOBenef,3,'POINT')}+' FCFA':'0 FCFA'">0&nbsp;    FCFA</strong></p></td>
                    </tr>
                    <tr>
                        <td width="604" colspan="7" valign="top"><p align="right">&nbsp;</p></td>
                    </tr>
                    <tr>
                        <td width="604" colspan="7" valign="top" style="font-size:1.5em; background:#334152; color:#fff"><p align="center"><b th:text="${compteResultat?.soldeCrediteur} ? 'Solde créditeur '+${#numbers.formatInteger(compteResultat?.soldeCrediteur,3,'POINT')}+' FCFA':'0 FCFA'">Solde cr&eacute;diteur de 52 075 853 FCFA</b></p></td>
                    </tr>
                </table>
            </div>
            <p class="logoPdf" style="display: none" align="right" th:text="'Téléchargé le '+${#dates.format(#dates.createNow(), 'dd MMM yyyy')}">Téléchargé le </p>
        </div>
    </div>
</div>
<style>
    table tr td{ padding:5px}
    .classp p{ margin:0; padding:0}
</style>
</body>
</html>