<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div class="element-wrapper">
    <h4 class="element-header sit-compte-globale">
        <b>Situation de compte globale Retraite complémentaire</b>
    </h4>
    <div style="margin-top:17px;" class="element-box">
        <div class="w90">
            <div class="titreSimuLeft" th:text="${sitgble?.dateSituation} ? 'Année '+${#dates.format(sitgble?.dateSituation,'yyyy')}">
                Année 2018
            </div>
            <div class="titreSimuRight">
                <a href="javascript:generatePdf()" title="Exporter en PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="FormSit2" id="monPdf">
            <div class="w95">
                <p class="logoPdf" style="display: none"><img src="../img/logo_saham-vie.png" /></p>

                <div class="titreSimu">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td valign="top"><p><strong>Numéro de contrat</strong></p></td>
                            <td valign="top"><p><strong th:text="${perso?.matricule}">-</strong></p></td>
                        </tr>
                        <tr>
                            <td valign="top"><p><strong>Souscripteur</strong></p></td>
                            <td valign="top"><p><strong th:text="${sitgble?.contractant}">ORANGE COTE D'IVOIRE </strong></p></td>
                        </tr>
                        <tr>
                            <td valign="top"><p><strong>Date d'inventaire</strong></p></td>
                            <td valign="top"><p><strong th:text="${sitgble?.dateSituation} ? ${#dates.format(sitgble?.dateSituation,'dd/MM/yyyy')}">31/10/2017 </strong></p></td>
                        </tr>
                    </table>

                </div>
                <p>&nbsp;</p>
                <table border="1" cellspacing="0" cellpadding="0" class="Tablecenter">
                    <tr>
                        <td th:objet="${anneeAnterieur}"><p align="center"><strong>Provisions Mathématiques au</strong><br><strong th:text="${sitgble?.dateSituation} ? ${#dates.format(sitgble?.dateSituation,'dd/MM')}+'/'+${anneeAnterieur}">31/12/2016</strong></p></td>
                        <td valign="center"><p align="center"><strong>Cotisations perçues</strong></p></td>
                        <td align="center"><p align="center"><strong>Prime nette</strong></p></td>
                        <td align="center"><p><strong>Intérêts</strong></p></td>
                        <td align="center"><p><strong>Prestations</strong></p></td>
                        <td align="center"><p><strong>Provisions Mathématiques au </strong><strong th:text="${sitgble?.dateSituation} ? ${#dates.format(sitgble?.dateSituation,'dd/MM/yyyy')}">31/10/2017</strong></p></td>
                    </tr>
                    <tr>
                        <td valign="center" th:text="${sitgble?.capitalAcquisJanv} ? ${#numbers.formatInteger(sitgble?.capitalAcquisJanv,3,'POINT')}+' FCFA':'0 FCFA'">5 938 465 892 FCFA</td>
                        <td valign="center" th:text="${sitgble?.cotisationAnnuelle} ? ${#numbers.formatInteger(sitgble?.cotisationAnnuelle,3,'POINT')}+' FCFA':'0 FCFA'">539 195 100 FCFA</td>
                        <td valign="center" th:text="${sitgble?.primeNette} ? ${#numbers.formatInteger(sitgble?.primeNette,3,'POINT')}+' FCFA':'0 FCFA'">534 635 389 FCFA</td>
                        <td valign="center" th:text="${sitgble?.interet} ? ${#numbers.formatInteger(sitgble?.interet,3,'POINT')}+' FCFA':'0 FCFA'">213 925 439 FCFA</td>
                        <td valign="center" th:text="${sitgble?.prestation} ? ${#numbers.formatInteger(sitgble?.prestation,3,'POINT')}+' FCFA':'0 FCFA'">1 181 747 404 FCFA</td>
                        <td valign="center" th:text="${sitgble?.capitalAu} ? ${#numbers.formatInteger(sitgble?.capitalAu,3,'POINT')}+' FCFA':'0 FCFA'">6 636 026 316 FCFA</td>
                    </tr>
                </table>
            </div>

            <br>
            <p class="logoPdf" style="display: none" align="right" th:text="'Téléchargé le '+${#dates.format(#dates.createNow(), 'dd MMM yyyy')}">Téléchargé le </p>
        </div>
    </div>
</div>

</body>
</html>