<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
  <div class="element-wrapper">
    <p> <h4 class="element-header releve-cotisation">
    <b th:if="${isEnterprise}" th:text="'Relevé de cotisations ['+${lastname} +'-'+ ${contrat?.produit?.nomProduit}+']'">Relevé de cotisations [75364892]</b>
    <b th:if="${isEnterprise == false}" th:text="'Relevé de cotisations ['+${contrat?.police} +'-'+ ${contrat?.produit?.nomProduit}+']'">Relevé de cotisations [75364892]</b>

  </h4></p><br>
    <table width="100%" border="0" style="font-size:16px">
      <tbody>
      <tr style="text-align: center">
        <td th:if="${isEnterprise == false}"><i class="fa fa-line-chart" aria-hidden="true"></i> Cumul des primes payées :<br> <b th:text="${cumul_paye} ? ${#numbers.formatInteger(cumul_paye,3,'POINT')}+' FCFA':'0 FCFA'">500.000 FCFA</b></td>
        <td th:if="${isEnterprise}"><i class="fa fa-line-chart" aria-hidden="true"></i> Cumul des primes payées en 2019 :<br> <b th:text="${cumul_paye} ? ${#numbers.formatInteger(cumul_paye,3,'POINT')}+' FCFA':'0 FCFA'">500.000 FCFA</b></td>
        <td th:if="${isEnterprise}"><i class="fa fa-line-chart" aria-hidden="true"></i> Provision mathématique au <span th:text="${dateOfLastQuittance} ? ${#dates.format(dateOfLastQuittance, 'dd/MM/yyyy')}">inconnue</span> :<br><b th:text="${situationCompte?.capitalAcquisJanv} ? ${#numbers.formatInteger(situationCompte?.capitalAcquisJanv,3,'POINT')}+' FCFA':'0 FCFA'">500.000 FCFA</b></td>
        <td th:if="${isEnterprise == false}" ><i class="fa fa-pie-chart" aria-hidden="true"></i> Cumul des primes impayées :<br> <b th:text="${cumul_impaye} ? ${#numbers.formatInteger(cumul_impaye,3,'POINT')}+' FCFA': '0 FCFA'">300.000 FCFA</b></td>
      </tr>
      </tbody>
    </table>
    <div style="margin-top:17px;" class="element-box">
      <div class="table-responsive">
        <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
          <thead>
          <tr>
            <th class="text-center">Mouvement </th>
            <th class="text-center">Echéance </th>
            <th class="text-center">Montant </th>
            <th class="text-center">Payé </th>
            <th class="text-center">STATUT</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="qtce: ${quitanceReleve}">
            <td class="text-center" th:text="${qtce?.objet?.nomObjet}">Prime</td>
            <td class="text-center" th:text="${qtce.echeance} ? ${#dates.format(qtce.echeance, 'dd/MM/yyyy')}">01/01/2017</td>
            <td class="text-center" th:text="${qtce.montantEmis} ? ${#numbers.formatInteger(qtce.montantEmis,3,'POINT')}+' FCFA':'0 FCFA'">50.000 FCFA</td>
            <td class="text-center" th:text="${qtce.montantPaye} ? ${#numbers.formatInteger(qtce.montantPaye,3,'POINT')}+' FCFA':'0 FCFA'">50.000 FCFA</td>
            <td class="text-center">
              <div th:if="${qtce?.statutQuitance?.statutQuit=='payé'}" class="status-pill green" data-title="payé" data-toggle="tooltip" data-original-title="" title=""></div>
              <div th:if="${qtce?.statutQuitance?.statutQuit=='impayé'}" class="status-pill red" data-title="impayé" data-toggle="tooltip" data-original-title="" title=""></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../bower_components/bootstrap-validator/dist/validator.min.js"></script>
  <script src="../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="../bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
  <script src="../bower_components/bootstrap/js/dist/util.js"></script>
  <script src="../bower_components/bootstrap/js/dist/button.js"></script>
  <script src="../bower_components/bootstrap/js/dist/collapse.js"></script>
  <script src="../bower_components/bootstrap/js/dist/tab.js"></script>
  <script src="../bower_components/bootstrap/js/dist/tooltip.js"></script>
  <script src="../bower_components/bootstrap/js/dist/popover.js"></script>
  <script src="../js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/js/iziToast.min.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/popup.js"></script>
</body>
</html>