<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="element-wrapper">
    <h4 class="element-header situation-compte">
        <b th:if="${isEnterprise}" th:text="'Situation de compte annuelle ['+${lastname} +'-'+ ${contrat?.produit?.nomProduit}+']'">Situation de compte annuelle</b>
    </h4>
    <div style="margin-top:17px;" class="element-box">
        <div class="w90">
            <div class="titreSimuLeft">
                 <span th:if="${situationCompte}" th:text="${situationCompte?.dateSituation} ? 'Année '+${#dates.year(situationCompte?.dateSituation)}">Année 2016</span>
            </div>
            <div class="titreSimuRight">
                <a href="javascript:generatePdf()" title="Exporter en PDF"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
            </div>
        </div>
        <div id="monPdf" class="FormSit2" id="monPdf">
            <div class="w95">
                <p class="logoPdf" style="display: none"><img src="../img/logo_sanlam-vie.png" /></p>
                <div class="titreSimu">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td><p><strong>POLICE N° </strong><strong> </strong></p></td>
                            <td><p><strong th:text="${contrat?.police}">101000279</strong><strong> </strong></p></td>
                            <td><p><strong>CONTRACTANT</strong><strong> </strong></p></td>
                            <td><p><strong style="margin-left: 10px;"
                                           th:text="${quittanceMatrice?.societe}">ORANGE</strong><strong> </strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td><p><strong>TYPE</strong><strong> </strong></p></td>
                            <td><p><strong th:text="${quittanceMatrice?.typeContrat}">Retaite
                                Complémentaire</strong><strong> </strong></p></td>
                            <td><p><strong>ASSURE</strong><strong> </strong></p></td>
                            <td><p><strong th:text="${contrat?.assure?.lastname}">KOFFI KRA
                                MARCEL</strong><strong> </strong></p></td>
                        </tr>
                        <tr>
                            <td><p><strong>PERIODICITE</strong><strong> </strong></p></td>
                            <td><p><strong style="margin-left: 10px;" th:text="${contrat?.periodicite?.periodicite}">Mensuelle</strong><strong> </strong>
                            </p></td>
                            <td><p><strong>AYANTS DROITS</strong><strong> </strong></p></td>
                            <td><p><strong style="margin-left: 10px;" th:text="${beneficiaire?.benefdeces}">Mensuelle</strong><strong> </strong>
                            </p></td>
                            <td><p><strong>&nbsp;</strong></p></td>
                            <td><p><strong>&nbsp;</strong></p></td>
                        </tr>
                    </table>
                </div>
                <p>&nbsp;</p>
                <p>Cher adhérent,</p>
                <!--<p>Nous vous prions de trouver ci-dessous les informations constitutant la situation de compte de votre
                    contrat au : <span th:if="${situationCompte}" th:text="${situationCompte?.dateSituation} ? ${#dates.format(situationCompte?.dateSituation, 'dd/MM/yyyy')} : 'Indefinie'"></span>
                </p>-->
                <p>Nous vous prions de trouver ci-dessous les informations constitutant la situation de compte de votre
                    contrat :
                </p>
                <p><strong>Vos versements en</strong>   <strong th:if="${situationCompte}" th:text="${situationCompte?.dateSituation} ? ${#dates.year(situationCompte?.dateSituation)} : 'Indefinie'">2017</strong> <span style="margin-left:30px"><b th:text="${totalVersement} ? ${#numbers.formatInteger(totalVersement,3,'POINT')}+' FCFA':'0 FCFA'">11 735 016</b></span>
                </p>
                <table border="1" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                        <td align="center"><p><strong>ANNEE</strong></p></td>
                        <td align="center"><p><strong>JANVIER</strong></p></td>
                        <td align="center"><p><strong>FEVRIER</strong></p></td>
                        <td align="center"><p><strong>MARS</strong></p></td>
                        <td align="center"><p><strong>AVRIL</strong></p></td>
                        <td align="center"><p><strong>MAI</strong></p></td>
                        <td align="center"><p><strong>JUIN</strong></p></td>
                        <td align="center"><p><strong>TOTAL</strong></p></td>
                    </tr>
                    <tr>
                        <td rowspan="3" align="center">
                            <p align="center"><strong th:if="${situationCompte}" th:text="${situationCompte?.dateSituation} ? ${#dates.year(situationCompte?.dateSituation)}">2016</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.janvier} ? ${#numbers.formatInteger(quittanceMatrice?.janvier,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.fevrier} ? ${#numbers.formatInteger(quittanceMatrice?.fevrier,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.mars} ? ${#numbers.formatInteger(quittanceMatrice?.mars,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.avril} ? ${#numbers.formatInteger(quittanceMatrice?.avril,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.mai} ? ${#numbers.formatInteger(quittanceMatrice?.mai,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.juin} ? ${#numbers.formatInteger(quittanceMatrice?.juin,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td rowspan="3" align="center">
                            <p align="center"><strong th:text="${totalVersement} ? ${#numbers.formatInteger(totalVersement,3,'POINT')} : '0'">795 882</strong><strong> </strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><p align="center"><strong>JUILLET</strong></p></td>
                        <td align="center"><p align="center"><strong>AOUT</strong></p></td>
                        <td align="center"><p align="center"><strong>SEPTEMBRE</strong></p></td>
                        <td align="center"><p align="center"><strong>OCTOBRE</strong></p></td>
                        <td align="center"><p align="center"><strong>NOVEMBRE</strong></p></td>
                        <td align="center"><p align="center"><strong>DECEMBRE</strong></p></td>
                    </tr>
                    <tr>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.juillet} ? ${#numbers.formatInteger(quittanceMatrice?.juillet,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.aout} ? ${#numbers.formatInteger(quittanceMatrice?.aout,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.septembre} ? ${#numbers.formatInteger(quittanceMatrice?.septembre,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.octobre} ? ${#numbers.formatInteger(quittanceMatrice?.octobre,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.novembre} ? ${#numbers.formatInteger(quittanceMatrice?.novembre,3,'POINT')} : '0'">66
                            004</strong></p></td>
                        <td align="center"><p><strong
                                th:text="${quittanceMatrice?.deceembre} ? ${#numbers.formatInteger(quittanceMatrice?.deceembre,3,'POINT')} : '0'">66
                            004</strong></p></td>

                    </tr>
                </table>
                <p>&nbsp;</p>
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="198" valign="top">Capital acquis au 1er janv <span th:text="${situationCompte?.dateSituation} ? ${#dates.year(situationCompte?.dateSituation)}">2018</span></td>
                        <td width="37" valign="top"><p align="center">:</p></td>
                        <td width="339" valign="top"><p><span th:if="${situationCompte}" th:text="${situationCompte?.capitalAcquisJanv} ? ${#numbers.formatInteger(situationCompte?.capitalAcquisJanv,3,'POINT')}+' FCFA':'0 FCFA'">&nbsp;</span></p></td>
                    </tr>
                    <tr>
                        <td width="198" valign="top"><p>Primes nettes en <span th:if="${situationCompte}" th:text="${situationCompte?.dateSituation} ? ${#dates.year(situationCompte?.dateSituation)}">2016</span></p></td>
                        <td width="37" valign="top"><p align="center"><strong>:</strong></p></td>
                        <td width="339" valign="top"><p><span th:text="${situationCompte?.primeNette} ? ${#numbers.formatInteger(situationCompte?.primeNette,3,'POINT')}+' FCFA':'0 FCFA'">764
                            049 </span></p></td>
                    </tr>
                    <tr>
                        <td width="198" valign="top"><p>Interêt perçu en <span th:if="${situationCompte}" th:text="${situationCompte?.dateSituation} ? ${#dates.year(situationCompte?.dateSituation)}">2016</span></p></td>
                        <td width="37" valign="top"><p align="center"><strong>:</strong></p></td>
                        <td width="339" valign="top"><p><span th:text="${situationCompte?.interet} ? ${#numbers.formatInteger(situationCompte?.interet,3,'POINT')}+' FCFA':'0 FCFA'">539
                            746 </span></p></td>
                    </tr>

                    <!--
                    <tr>
                        <td width="198" valign="top"><p>Cumul cotisations au <span th:text="${situationCompte?.dateSituation} ? ${#dates.format(situationCompte?.dateSituation, 'dd/MM/yyyy')}">2016</span></p></td>
                        <td width="37" valign="top"><p align="center"><strong>:</strong></p></td>
                        <td width="339" valign="top"><p><span th:text="${situationCompte?.cumulPrimeAu31122016} ? ${#numbers.formatInteger(situationCompte?.cumulPrimeAu31122016,3,'POINT')}+' FCFA':'0 FCFA'">-</span></p></td>
                    </tr>
                    -->

                    <tr>
                        <td width="198" valign="top"><p>Cumul primes au <span th:text="${situationCompte?.dateSituation} ? ${#dates.format(situationCompte?.dateSituation, 'dd/MM/yyyy')}">2016</span></p></td>
                        <td width="37" valign="top"><p align="center"><strong>:</strong></p></td>
                        <td width="339" valign="top"><p><span th:text="${situationCompte?.cumulPrimeAu31122016} ? ${#numbers.formatInteger(situationCompte?.cumulPrimeAu31122016,3,'POINT')}+' FCFA':'0 FCFA'">-</span></p></td>
                    </tr>

                    <tr>
                        <td width="198" valign="top"><p>Capital au <span th:if="${situationCompte}" th:text="${situationCompte?.dateSituation} ? ${#dates.format(situationCompte?.dateSituation, 'dd/MM/yyyy')}">Capital au 31/12/2016</span></p></td>
                        <td width="37" valign="top"><p align="center"><strong>:</strong></p></td>
                        <td width="339" valign="top"><p><span th:if="${situationCompte}" th:text="${situationCompte?.capitalAu} ? ${#numbers.formatInteger(situationCompte?.capitalAu,3,'POINT')}+' FCFA':'0 FCFA'">539 746</span></p></td>
                    </tr>
                </table>
                <p>&nbsp;</p>

                <p>Votre épargne a été revalorisée à un taux de
                    <span th:text="${taux}+'%'">0</span> au titre de l'exercice <span th:text="'Cumul cotisations en '+${situationCompte?.dateSituation} ? ${#dates.year(situationCompte?.dateSituation)}">2016</span></p>
                <br>
                <p class="logoPdf" style="display: none" align="right" th:text="'Téléchargé le '+${#dates.format(#dates.createNow(), 'dd MMM yyyy')}">Téléchargé le </p>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>