<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="element-wrapper">
                <h4 class="element-header">
                  <b th:text="'Situation de compte ['+${contrat?.police} +'-'+ ${contrat?.produit?.nomProduit}+']'">Situation de compte annuel[75364892]</b>
                </h4>
                <div style="margin-top:17px;" class="element-box">
                  <div class="w90">
                    <div class="titreSimuLeft" th:text="'Année '+${etat.annee}">
                      Année 2014
                    </div>
                    <div class="titreSimuRight">
                      <button><i class="fa fa-file-pdf-o" aria-hidden="true" id="gpdf"></i></button>
                    </div>
                  </div>
                  <div id="monPdf" class="FormSit2">
                    <div class="w95" id="w95">
                      <div class="titreSimu">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td valign="bottom"><p><strong>POLICE N°</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.police}">1040005775</strong></p></td>
                            <td valign="bottom"><p><strong>ASSURE</strong></p></td>
                            <td  valign="bottom"><p><strong th:text="${contrat?.assure?.lastname}">DAGNOGO SOULEYMANE</strong></p></td>
                          </tr>
                          <tr>
                            <td  valign="bottom"><p><strong>DATE D'EFFET</strong></p></td>
                            <td  valign="bottom"><p><strong th:text="${contrat.dateEffet} ? ${#dates.format(contrat.dateEffet, 'dd/MM/yyyy')}" >30/06/2007</strong></p></td>
                            <td  valign="bottom"><p><strong>SOUSCRIPTEUR</strong></p></td>
                            <td  valign="bottom"><p><strong th:text="${contrat?.souscripteur?.lastname}">DAGNOGO SOULEYMANE</strong></p></td>
                          </tr>
                          <tr>
                           <td th:if="${isParticulirOfCorporate == false}" valign="bottom"><p><strong>DUREE</strong></p></td>
                            <td th:if="${isParticulirOfCorporate == false}"  valign="bottom"><p><strong th:text="${contrat?.duree} +' ANS'">10 ANS</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.souscripteur?.postalCode}">3419</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.souscripteur?.boitePostale}">ABIDJAN 18</strong></p></td>
                          </tr>
                          <tr>
                            <td valign="bottom"><p><strong>DATE DE NAISSANCE</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.souscripteur?.birthdate} ? ${#dates.format(contrat.souscripteur.birthdate, 'dd/MM/yyyy')}" >05/03/1973</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.souscripteur?.matricule}">CGT CPTE 10/08/07</strong></p></td>
                            <td valign="bottom"><p>&nbsp;</p></td>
                          </tr>
                          <tr>
                            <td valign="bottom"><p><strong>MONTANT COTISATION</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.prime} ? ${#numbers.formatInteger(contrat?.prime,3,'WHITESPACE')}+' FCFA':'0 FCFA'">75 000 F CFA</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.souscripteur?.fonction}">COMPTABLE</strong></p></td>
                            <td valign="bottom"><p>&nbsp;</p></td>
                          </tr>
                          <tr>
                            <td valign="bottom"><p><strong>PERIODICITE</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.periodicite?.periodicite}" >MENSUELLE</strong></p></td>
                            <td valign="bottom"><p><strong>Côte d'Ivoire</strong></p></td>
                            <td valign="bottom"><p>&nbsp;</p></td>
                          </tr>
                          <tr>
                            <td valign="bottom"><p>&nbsp;</p></td>
                            <td valign="bottom"><p>&nbsp;</p></td>
                            <td valign="bottom"><p><strong>CONTACT</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.souscripteur?.phone}">CONTACT</strong></p></td>
                          </tr>
                          <tr>
                            <td valign="bottom"><p>&nbsp;</p></td>
                            <td valign="bottom"><p>&nbsp;</p></td>
                            <td valign="bottom"><p><strong>MAIL</strong></p></td>
                            <td valign="bottom"><p><strong th:text="${contrat?.souscripteur?.email}"></strong></p></td>
                          </tr>
                        </table>
                      </div>
                      <p>&nbsp;</p>
                      <p>Veuillez  trouver ci-dessous les éléments constituants votre situation de compte. </p>
                      <p><strong>Vos versements en</strong> <strong th:text="${etat.annee}">20156</strong></p>
                      <table border="1" cellspacing="0" cellpadding="0" width="731">
                        <tr>
                          <td valign="top"><p align="center"><strong>ANNEE</strong></p></td>
                          <td valign="top" th:each="e,iterStat: ${etat.monthAndAmounts}" th:if="${iterStat.index}<6"><p align="center"><strong th:text="${e.month}">Mois</strong></p></td>
                          <td valign="top"><p align="center"><strong>TOTAL</strong></p></td>
                        </tr>
                        <tr>
                          <td rowspan="3" valign="top"><p align="center"><strong>&nbsp;</strong></p>
                            <p align="center"><strong th:text="${etat.annee}">2018</strong></p></td>
                          <td valign="top" th:each="e,iterStat: ${etat.monthAndAmounts}" th:if="${iterStat.index}<6"><p align="center"><strong th:text="${e.amount} ? ${#numbers.formatInteger(e.amount,3,'WHITESPACE')} : '0'">Mois</strong></p></td>

                          <td rowspan="3" valign="top"><p align="center"><strong>&nbsp;</strong></p>
                            <p align="center"><strong th:text="${etat.totalcotise} ? ${#numbers.formatInteger(etat.totalcotise,3,'WHITESPACE')}+' FCFA':'0 FCFA'">900 000</strong></p>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" th:each="e,iterStat: ${etat.monthAndAmounts}" th:if="${iterStat.index}>=6"><p align="center"><strong th:text="${e.month}">Mois</strong></p></td>
                        </tr>
                        <tr>
                          <td valign="top" th:each="e,iterStat: ${etat.monthAndAmounts}" th:if="${iterStat.index}>=6"><p align="center"><strong th:text="${e.amount} ? ${#numbers.formatInteger(e.amount,3,'WHITESPACE')} : '0'">Mois</strong></p></td>
                        </tr>
                      </table>
                      <p>&nbsp;</p>
                      <p>&nbsp;</p>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="156" valign="top"><p><strong>Vos rachats partiels en</strong></p></td>
                          <td width="106" valign="top"><p align="center"><strong th:text="${etat.rachatPartielYear} ? ${#dates.year(etat.rachatPartielYear)} : '2018'">2018</strong></p></td>
                          <td width="55" valign="top"><p align="center"><strong>:</strong></p></td>
                          <td width="182" valign="top"><p><strong th:text="${etat.rachatPartiel} ? ${#numbers.formatInteger(etat.rachatPartiel,3,'WHITESPACE')} :'0'">0 </strong><strong>FCFA</strong></p></td>
                        </tr>
                        <tr th:if="${isParticulirOfCorporate == false}">
                          <td width="156" valign="top"><p><strong>Votre</strong> <strong>capital retraite au</strong></p></td>
                          <td width="106" valign="top"><p align="center"><strong th:text="${etat.capitalRetraiteYear} ? ${#dates.format(etat.capitalRetraiteYear, 'dd/MM/yyyy')}: '31/12/2018'">31/12/2018</strong></p></td>
                          <td width="55" valign="top"><p align="center"><strong>:</strong></p></td>
                          <td width="182" valign="top"><p><strong th:text="${etat.capitalRetraite} ? ${#numbers.formatInteger(etat.capitalRetraite,3,'WHITESPACE')}+' FCFA':'0 FCFA'">8 936&nbsp;519 FCFA</strong></p></td>
                        </tr>
                        <tr th:if="${isParticulirOfCorporate}">
                          <td width="156" valign="top"><p><strong>Votre</strong> <strong>capital retraite au</strong></p></td>
                          <td width="106" valign="top"><p align="center"><strong th:text="${etat.capitalRetraiteYear} ? ${#dates.format(etat.capitalRetraiteYear, 'dd/MM/yyyy')}: '31/12/2018'">31/12/2018</strong></p></td>
                          <td width="55" valign="top"><p align="center"><strong>:</strong></p></td>
                          <td width="182" valign="top"><p><strong th:text="${situationCompte?.capitalAcquisJanv} ? ${#numbers.formatInteger(situationCompte?.capitalAcquisJanv,3,'WHITESPACE')}+' FCFA':'0 FCFA'">8 936&nbsp;519 FCFA</strong></p></td>
                        </tr>
                        <tr>
                          <td width="156" valign="top"><p><strong>Votre prime de fidélité</strong></p></td>
                          <td width="106" valign="top"><p align="center">&nbsp;</p></td>
                          <td width="55" valign="top"><p align="center"><strong>:</strong></p></td>
                          <td width="182" valign="top"><p><strong th:text="${etat.primeFidelite} ? ${#numbers.formatInteger(etat.primeFidelite,3,'WHITESPACE')} :' 0 '">0 </strong><strong>FCFA</strong></p></td>
                        </tr>
                      </table>
                      <p>&nbsp;</p>
                      <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><p align="center"><strong>Valeur de rachat</strong></p></td>
                          <td valign="top"><p align="center"><strong>Capital acquis</strong></p></td>
                          <td valign="top"><p align="center"><strong>Capital décès</strong></p></td>
                          <td valign="top"><p align="center"><strong>Valeur de réduction</strong></p></td>
                        </tr>
                        <tr th:if="${isParticulirOfCorporate == false}">
                          <td valign="top"><p align="center"><strong th:text="${etat.valeurDeRachat} ? ${#numbers.formatInteger(etat.valeurDeRachat,3,'WHITESPACE')} :'0 '">8 936&nbsp;519</strong> <strong>FCFA</strong></p></td>
                          <td valign="top"><p align="center"><strong th:text="${etat.capitalAcquis} ? ${#numbers.formatInteger(etat.capitalAcquis,3,'WHITESPACE')} :'0 '">8 936&nbsp;519</strong> <strong>FCFA</strong></p></td>
                          <td valign="top"><p align="center"><strong th:text="${etat.capitalDeces} ? ${#numbers.formatInteger(etat.capitalDeces,3,'WHITESPACE')} :'0 '">8 936&nbsp;519</strong> <strong>FCFA</strong></p></td>
                          <td valign="top"><p align="center"><strong th:text="${etat.valeurReduction} ? ${#numbers.formatInteger(etat.valeurReduction,3,'WHITESPACE')} :'0 '">9 044&nbsp;482 FCFA</strong></p></td>
                        </tr>
                        <tr th:if="${isParticulirOfCorporate}">
                          <td valign="top"><p align="center"><strong th:text="${situationCompte?.capitalAu} ? ${#numbers.formatInteger(situationCompte?.capitalAu,3,'WHITESPACE')}+' FCFA':'0 FCFA'">8 936&nbsp;519</strong></p></td>
                          <td valign="top"><p align="center"><strong th:text="${situationCompte?.capitalAu} ? ${#numbers.formatInteger(situationCompte?.capitalAu,3,'WHITESPACE')}+' FCFA':'0 FCFA'">8 936&nbsp;519</strong> </p></td>
                          <td valign="top"><p align="center"><strong th:text="${situationCompte?.capitalAu} ? ${#numbers.formatInteger(situationCompte?.capitalAu,3,'WHITESPACE')}+' FCFA':'0 FCFA'">8 936&nbsp;519</strong> </p></td>
                          <td valign="top"><p align="center"><strong th:text="${etat.valeurReduction} ? ${#numbers.formatInteger(etat.valeurReduction,3,'WHITESPACE')} :'0 '">9 044&nbsp;482 FCFA</strong></p></td>
                        </tr>
                      </table>
                      <br><br>
                      <p th:if="${isParticulirOfCorporate}" >Votre épargne a été revalorisée à un taux de  <strong th:text="${tauxR}+'%'"></strong> au titre de l'année <strong th:text="${situationCompte.dateSituation} ? ${#dates.year(situationCompte.dateSituation)}">2018</strong></p>
                      <p th:if="${isParticulirOfCorporate == false}">Votre épargne a été revalorisée à un taux de  4,5% au titre de l'année 2018</p>
                    </div>
                  </div>
                </div>
              </div>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script>
    // données globales
    console.log("oki");
    var content;
    var idContrat;

    $('.BtnActivC').click(function(){
        $('.sectionD a').removeClass( "activContrat" );
        $(this).addClass( "activContrat" );
    });
    function gotoPage(num) {
        $.ajax({
            url : '/ajax-07',
            type : 'POST',
            data : 'num=' + num +'&'+'id='+ idContrat,
            dataType : 'html',
            beforeSend : function() {

            },
            success : function(data) { content.html(data)
            },
            complete : function() { },
            error : function(jqXHR) {
                content.html(jqXHR.responseText); }
        }) }

        $(document).ready(function() {

        //pdf
        var doc = new jsPDF('p', 'pt', 'a4');
        $('#gpdf').click(function(){
            alert();
            doc.addHTML($('#monPdf')[0], 0, 0, {
                'background': '#fff',
            }, function () {
                // doc.save('situation_' + $('#indicator').text() + '.pdf');
                doc.save('situation_.pdf');
            });
        });

        // on récupère les références des différents composants de la page
        $( '#contrat').addClass( "menutopActiv" );
        content = $("#contenu");


        /*******   Bouton menu Contrat     **********/

        $('.BtnCtrt').click(function(){

            var val = $(this).attr('id');
            console.log("val "+val);

            if ($('#blockCtrt'+val).is(":visible")){
                console.log("visible");
                $('#blockCtrt'+val).hide();
            }else if ($('#blockCtrt'+val).is(":hidden")){
                console.log("invisible");
                $('.sectionD').hide();
                $('#blockCtrt'+val).show();
                idContrat =val;
            }
        });
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var message = [[${message}]];
    //alert(message);
    var title = [[${title}]];
    var info = [[${info}]];

    var success = [[${success}]];

    if (message && title) {
        if (success === true) {
            if(info ===true){
                showInfo(title,message);
            }else {
                showSuccess(title,message);
            }
        } else if (success === false) {
            showError(title,message);
        }
    }

    /*]]>*/
</script>
</body>
</html>

