<div class="Topinfo" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="banniere-message">

    <div class="blueTopinfo">
        <div class="w80">
            <marquee id="marDiv" direction="left" behavior="scroll" scrolldelay="150">
                <!--<span class="BlockDiv">Cher(e) client(e), pour plus d'informations merci de contacter notre Service Clients SAHAM Assurance Vie au (+225) 20 25 97 01</span>-->
                <span class="BlockDiv">Cher(e) client(e), pour plus d'informations merci de contacter notre Service Clients SAHAM Assurance Vie au (+225) 20 25 97 10 ou 20 25 97 09</span>
                <!--<span class="BlockDiv">SAHAM Assurance Vie au (+225) 20 25 97 01</span>-->
            </marquee>
        </div>
    </div>
</div>