<div class="bottom" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footer-bottom">
    SAHAM Assurance Vie 2017 - TOUS DROITS RESERVES
</div>

<div class="bottomMob" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footer-bottomMob">
    <div style="width:100%; display:block; float:left">
        <div class="bottomMobLeft">
            <a data-th-href="@{/login}" th:text="#{connexion}">Se connecter</a>
        </div>
        <div class="bottomMobRight" >
            <a data-th-href="@{/creer_compte}" th:text="#{compte}">Créer un compte</a>
        </div>
    </div>
</div>