<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ESPACE CLIENT SANLAM Assurance Vie</title>
<link rel="shortcut icon" href="img/favico.png">
<link rel="stylesheet" href="scss/style.css">
<link rel="stylesheet" href="scss/fontawesome/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/css/iziToast.min.css" rel="stylesheet">

</head>

<body>
<!--<div class="diverror"></div>-->
<div class="se-pre-con"></div>
<div class="content">

<!-- menu Mobile -->
    <div th:replace="fragments/fragment-menu-mobile :: menu-mobile"></div>


<!-- fin menu mobile -->
<!-- header -->
    <div th:replace="fragments/fragment-header :: header"></div>
<!-- fin header -->

<!-- menu up -->

    <div th:replace="fragments/fragment-menu-up :: menu-up"></div>

    <div class="xMenuUp"></div>

 

<!-- fin menu up -->

<!-- fin body -->
<div class="BodyTop">
 
 <div class="w90">
    <div class="Divpage">
    <div class="divWeb">
    	<div class="DivpageLeft" style="background:url(img/img_sms.jpg) bottom no-repeat;  ">
        <div class="DivBlack">
        	<p class="BlackTitle">
            	Connectez-vous <br>à votre espace client
            </p>
            <p class="BlackDesc">
            	saisissez le code d’activation que vous avez reçu par sms 
            </p>
        </div>
        </div>
        </div>
        <div class="divMob">
    	<div class="DivpageLeft">
        
        <div class="DivBlack">
        <img src="img/img_mob_sms.jpg" />
        <div class="w85">        	
            <p class="BlackDesc">
            	saisissez le code d’activation que vous avez reçu par sms 
            </p>
            </div>
        </div>
        </div>
        </div>
        <div class="DivpageRight">
        
        	<div class="w70">
            	<div class="DivpageRightblock" >  
                <div class="DivActiv">              	 
                        <form th:action="@{/activate/compte}" th:method="POST">
                        <p><input type="text" name="username" id="username"  th:placeholder="#{form.username}" required/> </p>
                        <p class="btnCreates"><input type="submit" value="Valider" th:value="#{form.submit.validate}" /></p>
                        <!--p><input type="submit" value="Valider" /> </p-->
                        <p align="center"><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>  Demander un nouveau code</a></p>
                        
                    </form>
                  </div>
                </div>
            </div>
    
    	</div>
    </div>
    <!-- footer -->
<div class="bottom2">
SANLAM Assurance Vie 2017 - TOUS DROITS RESERVES
</div>
<div class="bottomMob">
<div style="width:100%; display:block; float:left">
<div class="bottomMobLeft">
<a href="login.html">Se connecter</a>
</div>
<div class="bottomMobRight" >
<a href="creer_compte.html">Créer un compte</a>
</div>
</div>
</div>
<!-- fin footer -->
 </div>
</div>
<!-- fin body -->
 
</div>
<script src="js/jquery.min.js"></script>
<script src="js/precon.js"></script>
 <script src="js/popup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/js/iziToast.min.js"></script>
<script src="js/main.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var message = [[${message}]];
    //alert(message);
    var title = [[${title}]];
    var info = [[${info}]];

    var success = [[${success}]];

    if (message && title) {
        if (success === true) {
            if(info ===true){
                showInfo(title,message);
            }else {
                showSuccess(title,message);
            }
        } else if (success === false) {
            showError(title,message);
        }
    }

    /*]]>*/
</script>
</body>
</html>
<!--Designed by DIGIT-A.L. -->