<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ESPACE CLIENT SAHAM ASSURANCE VIE</title>
<link rel="shortcut icon" href="img/favico.png">
<link rel="stylesheet" href="scss/style.css">
<link rel="stylesheet" href="scss/fontawesome/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/css/iziToast.min.css" rel="stylesheet">

</head>

<body>
<!--<div class="diverror"></div>-->
<div class="se-pre-con"></div>
<div class="content">

<!-- menu Mobile -->
    <div th:replace="fragments/fragment-menu-mobile :: menu-mobile"></div>
<!-- fin menu mobile -->

<!-- header -->
    <div th:replace="fragments/fragment-header-2 :: header-2"></div>
<!-- fin header -->

<!-- menu up -->
    <div th:replace="fragments/fragment-menu-up :: menu-up"></div>
    <div class="xMenuUp"></div>

 

<!-- fin menu up -->

<!-- body -->
    <div class="BodyTop">

        <div class="w90">
            <div class="Divpage">
                <div class="divWeb">
                    <div class="DivpageLeft" style="background:url(img/forget_id.jpg) center no-repeat;  min-height:100%  ">

                        <div class="DivBlack">
                            <p class="BlackTitle">
                                &nbsp;
                            </p>
                            <p class="BlackDesc">
                                &nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="divMob">
                    <div class="DivpageLeft">

                        <div class="DivBlack">
                            <img src="img/img_mob_sms.jpg" />
                            <div class="w85">
                                <p class="BlackDesc">
                                    saisissez le code d’activation que vous avez reçu par sms
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="DivpageRight">

                    <div class="w80">
                        <div class="DivpageRightblock" >
                            <form action="" method="post">
                                <!-- -->
                                <div class="identity">


                                    <p style="margin:0; padding:0; text-align:center"><b>Vous avez oubliez votre identifiant?</b></p>
                                    <p style="font-size:12px; margin:0; padding:0; text-align:center">Entrez votre numero de téléphone</p>
                                    <br>
                                    <p><input type="text" placeholder="Saisissez ici..." /> </p>
                                    <p class="btnCreates"><span><a href="#" class="bidentity">Valider</a></span></p>
                                    <!--p><input type="submit" value="Valider" /> </p-->



                                </div>
                                <div class="verify">

                                    <p style="margin:0; padding:0; text-align:center"><b>Saisissez le code de vérification<br></b></p>
                                    <p style="font-size:12px; margin:0; padding:0;text-align:center">que vous avez reçu par sms suivi de votre mot de passe</p>
                                    <br>
                                    <p><input type="text" placeholder="Code de vérification" /> </p>
                                    <p><input type="text" placeholder="Mot de passe" /> </p>
                                    <p class="btnCreates"><span><a href="#" class="bverify">Valider</a></span></p>
                                    <!--p><input type="submit" value="Valider" /> </p-->



                                </div>

                                <div class="valid">
                                    <div class="DivValide">
                                        <p>
                                            Votre identifiant<br>à bien été envoyé !
                                        </p>
                                        <p><i class="fa fa-check" aria-hidden="true"></i>  </p>
                                        <div class="divWeb">
                            <span>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    Accédez à votre compte
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </span>
                                        </div>
                                        <div class="divMob">
                                            <p class="BlackDesc"  style="font-weight:normal; font-size:18px">
                                                Accedez à votre <b>espace client SAHAM Assurance Vie</b> avec l’application mobile
                                            </p>
                                            <p class="ImgSotre">
                                                <a href="" target="_blank"><img src="img/google-play-630x217.jpg" /></a><br>
                                                <a href="" target="_blank"><img src="img/Icone-Apple-Store.jpg" /></a></p>
                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- footer -->
            <div class="bottom2">
                SAHAM ASSURANCE VIE 2017 - TOUS DROITS RESERVES
            </div>
            <div class="bottomMob">
                <div style="width:100%; display:block; float:left">
                    <div class="bottomMobLeft">
                        <a href="login.html">Se connecter</a>
                    </div>
                    <div class="bottomMobRight" >
                        <a href="creer_compte.html">Créer un compte</a>
                    </div>
                </div>
            </div>
            <!-- fin footer -->
        </div>
    </div>

<!--<div class="BodyTop">
 
 <div class="w90">
    <div class="Divpage" style="padding-bottom:30px">
    <div class="divWeb">
    	<div class="DivpageLeft" style="background:url(img/img_log.jpg) left no-repeat;  ">
        <div class="DivBlack">
        	<p class="BlackTitle">
            	Connectez-vous<br>à votre espace client
            </p>
            <p class="BlackDesc">
            	saisissez votre mail ou N° client puis votre mot de passe 
            </p>
        </div>
        </div>
        
      
        <div class="DivpageRight">
        
        	<div class="w70">
            	<div class="DivpageRightblock" >                	 
                        <form th:action="@{/user/authenticate}" th:method="POST">
                        <p><input type="text" name="username" id="username" th:placeholder="#{form.num.or.police}" placeholder="N° CLient / Adresse email" required/> </p>
                        <p><input type="password" name="password" id="password" th:placeholder="#{form.passe}" required/> </p>
                        <p class="btnCreates"><span><input type="submit" value="Valider" th:value="#{form.submit.connect}" /></span></p>
                        &lt;!&ndash;p><input type="submit" value="Se connecter" /> </p&ndash;&gt;
                        <p><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>  j'ai oublié mon mot de passe</a></p>
                        <br>
                        <p align="center" th:text="#{texte.premiere.connexion}">Première connexion ?</p>
                            <p class="btnCreate"><span><a data-th-href="@{/creer_compte}" th:text="#{compte}">Créer un compte</a></span></p>
                    </form>
                </div>
            </div>
    
    	</div>
        </div>
        <div class="divMob">
          <div class="DivValide">   
                    	     
                         <img src="img/img_login_mob.jpg" width="100%" />                
                         
                        
                        	<p class="BlackDesc"  style="font-weight:normal; width:80%;margin:0 auto;  font-size:18px">
                           Accedez à votre <b>espace client SAHAM Assurance Vie</b> avec l’application mobile
                     	   </p>
                           <p class="ImgSotre">
                           <a href="" target="_blank"><img src="img/google-play-630x217.jpg" /></a><br>
                           <a href="" target="_blank"><img src="img/Icone-Apple-Store.jpg" /></a></p>
                         
                        &lt;!&ndash;p><input type="submit" value="Valider" /> </p&ndash;&gt;
                    </div>
                    </div>
    </div>
    &lt;!&ndash; footer &ndash;&gt;
<div class="bottom2">
SAHAM ASSURANCE VIE 2017 - TOUS DROITS RESERVES
</div>
&lt;!&ndash; fin footer &ndash;&gt;
 </div>
</div>-->
<!-- fin body -->
</div> 

<script src="js/jquery.min.js"></script>
<script src="js/precon.js"></script>
 <script src="js/popup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/js/iziToast.min.js"></script>
<script src="js/scriptid.js"></script>
<script src="js/main.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var message = [[${message}]];
    //alert(message);
    var title = [[${title}]];
    var info = [[${info}]];

    var success = [[${success}]];

    if (message && title) {
        if (success === true) {
            if(info ===true){
                showInfo(title,message);
            }else {
                showSuccess(title,message);
            }
        } else if (success === false) {
            showError(title,message);
        }
    }

    /*]]>*/
</script>

</body>
</html>
<!--Designed by DIGIT-A.L. -->