<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ESPACE CLIENT SAHAM ASSURANCE VIE</title>
<link rel="shortcut icon" href="img/favico.png">
<link rel="stylesheet" href="scss/style.css">
<link rel="stylesheet" href="scss/fontawesome/css/font-awesome.min.css"> 
</head>

<body>
<div class="se-pre-con"></div>
<div class="content">

<!-- menu Mobile -->
<div class="divMob">
<div class="DivBlackMenu" ></div>
<div class="DivBlackMenuBlock">
<div class="w85">

<div class="DivBlackMenuBlockM">
<p><i class="fa fa-user" aria-hidden="true"></i> PARTICULIERS</p>
            	<div class="DivProdLink" style="border-bottom:none">
                     <div  class="DivProdLinkLeft">
                    	<a href="#" class="BprodMenu_1">Epargne-Capitalisation</a>
                     </div>
                     <div  class="DivProdLinkRight">
                    	<a href="#" class="BprodMenu_1">+</a>
                     </div>
            	</div>
                <div class="DprodMenu_1">
                <p class="BlockContainMenuLink">
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 7 </a>
                                 <a href="cari4.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 4 </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 31 </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cap’invest </a>
                                </p>
                        </div>
                <div class="DivProdLink" style="border-bottom:none">
                     <div  class="DivProdLinkLeft">
                    	<a href="#" class="BprodMenu_2">Prévoyance</a>
                     </div>
                     <div  class="DivProdLinkRight">
                    	<a href="#" class="BprodMenu_2">+</a>
                     </div>
            	</div>
                <div class="DprodMenu_2">
                <p class="BlockContainMenuLink">
                                 <a href="obseqplus.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Obseq'Plus </a>
                                 <a href="temporaire_deces.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Temporaire Décès</a>
                                </p>
                        </div>
                <div class="DivProdLink">
                     <div  class="DivProdLinkLeft">
                    	<a href="#" class="BprodMenu_3">Mixte</a>
                     </div>
                     <div  class="DivProdLinkRight">
                    	<a href="#" class="BprodMenu_3">+</a>
                     </div>
            	</div>
                <div class="DprodMenu_3">
                <p class="BlockContainMenuLink">
                                <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Educ'Plus</a> 
                                </p>
                        </div>
                        <p>&nbsp;</p>
                        <p><i class="fa fa-users" aria-hidden="true"></i> PROFESSIONNELS</p>
                         <div class="DivProdLink" style="border-bottom:none">
                     <div  class="DivProdLinkLeft">
                    	<a href="#" class="BprodMenu_4">Epargne-Capitalisation</a>
                     </div>
                     <div  class="DivProdLinkRight">
                    	<a href="#" class="BprodMenu_4">+</a>
                     </div>
                     
            	</div>
                <div class="DprodMenu_4">
                <p class="BlockContainMenuLink">
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Retraite collective</a> 
                                 <a href="obseqplus.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Indemnités de fin de Carrière</a>
                                </p>
                        </div>
                        <div class="DivProdLink">
                     <div  class="DivProdLinkLeft">
                    	<a href="#" class="BprodMenu_5">Prévoyance</a>
                     </div>
                     <div  class="DivProdLinkRight">
                    	<a href="#" class="BprodMenu_5">+</a>
                     </div>
            	</div>
                <div class="DprodMenu_5">
                <p class="BlockContainMenuLink">
                                <a href="prevoyance.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Prévoyance collective</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Frais funéraires</a> 
                                </p>
                        </div>
            </div>
            </div>
          </div>
</div>
<!-- fin menu mobile -->
<!-- header -->
<div class="header">
<div class="divWeb">
    <div class="container">
         
        
  <div class="row">
      <div class="column">
      	<div class="MenuHeadLeft">
        	<a href="index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="column">
      	<div class="LogoheadCenter">
        	<img src="img/logo_saham_vie.svg" alt="Logo SAHAM ASSURANCE VIE" />
        </div>
      </div>
      <div class="column">
      	<div class="menuheadRight">
            <span class="LeftLink"><a href="login.html">Se connecter</a></span>
            <span class="RightLink"><a href="creer_compte.html">Créer un compte</a></span>
        </div>
      </div>
 </div>
        
    </div>
 </div>  
 <div class="divMob"> 
    <div class="DiheadMob">
    	<!--div class="DiheadMobLeft">
        <img src="img/logo_saham_vie.svg" alt="Logo SAHAM ASSURANCE VIE" />
        </div-->
        <div class="DiheadMobRight">
        <table width="100%" border="0">
  <tbody>
    <tr>
      <td align="left"><a href="index.html" ><i class="fa fa-home" aria-hidden="true"></i></a></td>
      <td align="center"><img src="img/logo_saham_vie.svg" alt="Logo SAHAM ASSURANCE VIE" /></td>
      <td align="right"><a href="#" class="bDivBlackMenuBlock"><i class="fa fa-bars" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>        
 </div>
    </div>
    </div>
</div>
<!-- fin header -->

<!-- menu up -->

<div class="MenuUp">

    <div class="BlockMenuUp">
        
        	<div class="w90">
            	<div class="ContainMenu" >
                    <div class="ContainMenuLeft">
                    	<!--p style="border-bottom:1px solid #e2e2e2; font-size:24px" >Nos produits</p-->
                        <div class="BlockContainMenu">
                        	<div class="BlockContainMenuDiv">
                            	<p class="BlockContainMenuTitre">Epargne</p>
                                <p class="BlockContainMenuLink">
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 1</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 3</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 31 </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 32 </a> 
                                 <a href="cari4.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 4 </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 7 </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cari 41 </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cap invset </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Retraite Collective </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> IFC </a>
                                </p>
                        	</div>
                            <div class="BlockContainMenuDiv">
                            	<p class="BlockContainMenuTitre">Prevoyance </p>
                                <p class="BlockContainMenuLink">
                                 <a href="prevoyance.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Prévoyance collective</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Vie emprunteur</a> 
                                 <a href="obseqplus.html"><i class="fa fa-angle-right" aria-hidden="true"></i> ObseqPlus </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Vie emprunteur ECOBANK </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Prévoyance collective Externe </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Vie Emprunteur 2014 </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Temporaire décès </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Mixte Education </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Rente Education </a>
                                 <a href="temporaire_deces.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Temporaire décès 2014 </a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> ObseqPlus 2014 </a> 
                                </p>
                        	</div>
                            <div class="BlockContainMenuDiv">
                            	<p class="BlockContainMenuTitre">Miste</p>
                                <p class="BlockContainMenuLink">
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> SOGETUDES 2015</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> EDUC PLUS 2014</a>
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> SOGETUDES </a>
                                </p>
                        	</div>
                        </div>
                    </div> 
                    <div  class="ContainMenuRight" >
                        <img src="img/doc_saham.png"  />
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="xMenuUp"></div>

 

<!-- fin menu up -->

<!-- body -->
<div class="BodyTop">
 
 <div class="w90">
    <div class="Divpage">
    <div class="divWeb">
    	<div class="DivpageLeft" style="background:url(img/forget.jpg) center no-repeat; height:600px  ">
        <!--div class="DivBlack">
        	<p class="BlackTitle">
            	Connectez-vous <br>à votre espace client
            </p>
            <p class="BlackDesc">
            	saisissez le code d’activation que vous avez reçu par sms 
            </p>
        </div-->
        </div>
        </div>
        <div class="divMob">
    	<div class="DivpageLeft">
        
        <div class="DivBlack">
        <img src="img/img_mob_sms.jpg" />
        <div class="w85">        	
            <p class="BlackDesc">
            	saisissez le code d’activation que vous avez reçu par sms 
            </p>
            </div>
        </div>
        </div>
        </div>
        <div class="DivpageRight">
        
        	<div class="w70">
            	<div class="DivpageRightblock" >  
                <form action="" method="post">
                <!-- -->
                <div class="identity">              	 
                   
                    
                         <p style="margin:0; padding:0"><b>Vous avez oubliez votre mot de passe ?</b></p>
                    <p style="font-size:12px; margin:0; padding:0">Entrez votre identifiant ou votre numero de téléphone</p>
                      <br>
                        <p><input type="text" placeholder="Saisissez ici..." /> </p> 
                        <p class="btnCreates"><span><a href="#" class="bidentity">Valider</a></span></p>
                        <!--p><input type="submit" value="Valider" /> </p-->
                           
                        
                    
                  </div>
                  <div class="verify">              	 
                    
                  <p style="margin:0; padding:0; text-align:center"><b>Saisissez le code de vérification<br></b></p>
                  <p style="font-size:12px; margin:0; padding:0;text-align:center">que vous avez reçu par sms </p>
                      <br>
                        <p><input type="text" placeholder="Saisissez ici..." /> </p> 
                        <p class="btnCreates"><span><a href="#" class="bverify">Valider</a></span></p>
                        <!--p><input type="submit" value="Valider" /> </p-->
                         
                        
                   
                  </div>
                  <div class="newpass">              	 
                    
                  
                          <p style="margin:0; padding:0;text-align:center"><b>Reinitialiser votre mot de passe</b></p>
                      <br>
                        <p><input type="password" placeholder="Saisissez votre nouveau mot de passe" /> </p> 
                         <p><input type="password" placeholder="Saisissez à nouveau" /> </p> 
                        <p class="btnCreates"><span><a href="#" class="bnewpass">Valider</a></span></p>
                        <!--p><input type="submit" value="Valider" /> </p-->
                         
                    
                  </div>
                  <div class="valid">              	 
                   <div class="DivValide">  
                   <p>                        
                           Votre mot de passe à bien été réinitialisé !
                        </p>      
                        <p><i class="fa fa-check" aria-hidden="true"></i>  </p>               
                        <div class="divWeb">
                            <span>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> 
                                    Accédez à votre compte 
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                        <div class="divMob">
                        	<p class="BlackDesc"  style="font-weight:normal; font-size:18px">
                           Accedez à votre <b>espace client SAHAM Assurance Vie</b> avec l’application mobile
                     	   </p>
                           <p class="ImgSotre">
                           <a href="" target="_blank"><img src="img/google-play-630x217.jpg" /></a><br>
                           <a href="" target="_blank"><img src="img/Icone-Apple-Store.jpg" /></a></p>
                        </div>
                         
                     </div>   
                    
                  </div>
                  </form>
                </div>
            </div>
    
    	</div>
    </div>
    <!-- footer -->
<div class="bottom2">
SAHAM ASSURANCE VIE 2017 - TOUS DROITS RESERVES
</div>
<div class="bottomMob">
<div style="width:100%; display:block; float:left">
<div class="bottomMobLeft">
<a href="login.html">Se connecter</a>
</div>
<div class="bottomMobRight" >
<a href="creer_compte.html">Créer un compte</a>
</div>
</div>
</div>
<!-- fin footer -->
 </div>
</div>
<!-- fin body -->
 
</div>
<script src="js/jquery.min.js"></script>
<script src="js/precon.js"></script>
 <script src="js/popup.js"></script>
 <script src="js/scriptnewpass.js"></script>
</body>
</html>
<!--Designed by DIGIT-A.L. -->