<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ESPACE CLIENT SANLAM ASSURANCE VIE</title>
<link rel="shortcut icon" href="img/favico.png">
    <link href="css/main.css" rel="stylesheet">
<link rel="stylesheet" href="scss/style.css">
<link rel="stylesheet" href="scss/fontawesome/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/css/iziToast.min.css" rel="stylesheet">

</head>

<body>
<!--<div class="diverror"></div>-->
<div class="se-pre-con"></div>
<div class="content">

<!-- menu Mobile -->
    <div th:replace="fragments/fragment-menu-mobile :: menu-mobile"></div>
<!-- fin menu mobile -->

<!-- header -->
    <div th:replace="fragments/fragment-header-2 :: header-2"></div>
<!-- fin header -->

<!-- menu up -->
    <div th:replace="fragments/fragment-menu-up :: menu-up"></div>
    <div class="xMenuUp"></div>

 

<!-- fin menu up -->

<!-- body -->
    <div class="BodyTop">

        <div class="w90">
            <div class="Divpage">
                <div class="divWeb">
                    <div class="DivpageLeft" style="background:url(img/forget.jpg) center no-repeat; min-height:100%  ">
                        <div class="DivBlack" style="background:rgba(0,0,0,0.3)">
                            <p class="BlackTitle">
                                &nbsp;
                            </p>
                            <p class="BlackDesc">
                                &nbsp;
                            </p>
                        </div>
                    </div>
                </div>
                <div class="divMob">
                    <div class="DivpageLeft">

                        <div class="DivBlack">
                            <img src="img/img_mob_sms.jpg" />
                            <div class="w85">
                                <p class="BlackDesc">
                                    saisissez le code d’activation que vous avez reçu par sms
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="DivpageRight">

                    <div class="w70">
                        <div class="DivpageRightblock" >
                            <form action="" method="post">
                                <!-- -->
                                <div class="identity">
                                    <p style="margin:0; padding:0"><b>Vous avez oubliez votre mot de passe ?</b></p>
                                    <p style="font-size:12px; margin:0; padding:0">Entrez votre identifiant pour rechercher votre compte</p>
                                    <br>
                                    <p><input type="text" name="identifiant" id="identifiant" placeholder="Saisissez ici..." /> </p>
                                    <p id="checkId" class="btnCreates"><span><a href="javascript:checkId()" class="bidentity">Rechercher</a></span></p>
                                    <!--p><input type="submit" value="Valider" /> </p-->
                                </div>

                                <div class="numberPhone">
                                    <p style="margin:0; padding:0; text-align:center">
                                        <b>Saisissez votre numero de téléphone <br></b>
                                    </p>
                                    <p style="font-size:12px; margin:0; padding:0;text-align:center">pour de recevoir le code de réinitialisation </p>
                                    <br>
                                    <p><input type="text" name="numero" id="numero" placeholder="Saisissez ici..." /> </p>
                                    <p id="getNumberAndsendCode" class="btnCreates"><span><a href="javascript:getNumberAndsendCode()" class="bnumberPhone">Valider</a></span></p>
                                    <!--p><input type="submit" value="Valider" /> </p-->

                                </div>

                                <div class="verify">
                                    <p style="margin:0; padding:0; text-align:center"><b>Saisissez le code de vérification<br></b></p>
                                    <p style="font-size:12px; margin:0; padding:0;text-align:center">que vous avez reçu par sms </p>
                                    <br>
                                    <p><input type="text" name="code" id="code" placeholder="Saisissez ici..." /> </p>
                                    <p id="checkSentCode" class="btnCreates"><span><a href="javascript:checkSentCode()" class="bverify">Valider</a></span></p>
                                    <!--p><input type="submit" value="Valider" /> </p-->

                                </div>
                                <div class="newpass">


                                    <p style="margin:0; padding:0;text-align:center"><b>Reinitialiser votre mot de passe</b></p>
                                    <br>
                                    <p><input type="password" name="passOne" id="passOne" placeholder="Saisissez votre nouveau mot de passe" /> </p>
                                    <p><input type="password" name="passTwo" id="passTwo" placeholder="Saisissez à nouveau" /> </p>
                                    <p id="resetPassword" class="btnCreates"><span><a href="javascript:resetPassword()" class="bnewpass">Valider</a></span></p>
                                    <!--p><input type="submit" value="Valider" /> </p-->


                                </div>
                                <div class="valid">
                                    <div class="DivValide">
                                        <p>
                                            Votre mot de passe à bien été réinitialisé !
                                        </p>
                                        <p><i class="fa fa-check" aria-hidden="true"></i>  </p>
                                        <div class="divWeb">
                            <span>
                                <a th:href="@{/login}">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    Accédez à votre compte
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </span>
                                        </div>
                                        <div class="divMob">
                                            <p class="BlackDesc"  style="font-weight:normal; font-size:18px">
                                                Accedez à votre <b>espace client SANLAM Assurance Vie</b> avec l’application mobile
                                            </p>
                                            <p class="ImgSotre">
                                                <a href="" target="_blank"><img src="img/google-play-630x217.jpg" /></a><br>
                                                <a href="" target="_blank"><img src="img/Icone-Apple-Store.jpg" /></a></p>
                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- footer -->
            <div class="bottom2">
                SANLAM ASSURANCE VIE 2017 - TOUS DROITS RESERVES
            </div>
            <div class="bottomMob">
                <div style="width:100%; display:block; float:left">
                    <div class="bottomMobLeft">
                        <a href="login.html">Se connecter</a>
                    </div>
                    <div class="bottomMobRight" >
                        <a href="creer_compte.html">Créer un compte</a>
                    </div>
                </div>
            </div>
            <!-- fin footer -->
        </div>
    </div>

<!-- fin body -->
</div> 

<script src="js/jquery.min.js"></script>
<script src="js/precon.js"></script>
 <script src="js/popup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/js/iziToast.min.js"></script>
<script src="js/scriptnewpass.js"></script>
<script src="js/main.js"></script>
<script>
    function checkId() {
        $.ajax({
            url : '/check-id',
            type : 'POST',
            data : 'identifiant=' + $("#identifiant").val() ,
            dataType : 'json',
            beforeSend : function() {
                $("#checkId").html("<div class=\"spinner\">\n" +
                    "  <div class=\"bounce1\"></div>\n" +
                    "  <div class=\"bounce2\"></div>\n" +
                    "  <div class=\"bounce3\"></div>\n" +
                    "</div>")
            },
            success : function(data) {
                console.log(data)
                console.log(data.success)
                if (data.message && data.title) {
                    if (data.success === true) {
                        if(data.info ===true){
                            showInfo(data.title,data.message);
                        }else {
                            showSuccess(data.title,data.message);
                        }
                         $('.identity').hide();
                         $('.numberPhone').fadeIn();

                    } else if (data.success === false) {
                        showError(data.title,data.message);
                         $("#checkId").html("<span><a href=\"javascript:checkId()\" class=\"bidentity\">Rechercher</a></span>")
                        //$('.identity').hide();
                        //$('.numberPhone').fadeIn();
                    }
                }
            },
            complete : function() {
                $("#checkId").html("<span><a href=\"javascript:checkId()\" class=\"bidentity\">Rechercher</a></span>")
            },
            error : function(jqXHR) {
                console.log(jqXHR);
            }
        }) }

    function getNumberAndsendCode() {
        $.ajax({
            url : '/number-code',
            type : 'POST',
            data : 'numero=' + $("#numero").val() ,
            dataType : 'json',
            beforeSend : function() {
                $("#getNumberAndsendCode").html("<div class=\"spinner\">\n" +
                    "  <div class=\"bounce1\"></div>\n" +
                    "  <div class=\"bounce2\"></div>\n" +
                    "  <div class=\"bounce3\"></div>\n" +
                    "</div>")
            },
            success : function(data) {
                console.log(data)
                console.log(data.success)
                if (data.message && data.title) {
                    if (data.success === true) {
                        if(data.info ===true){
                            showInfo(data.title,data.message);
                        }else {
                            showSuccess(data.title,data.message);
                        }
                        $('.numberPhone').hide();
                        $('.verify').fadeIn();

                    } else if (data.success === false) {
                        showError(data.title,data.message);
                        $("#getNumberAndsendCode").html("<span><a href=\"javascript:getNumberAndsendCode()\" class=\"bnumberPhone\">Valider</a></span>")

                    }
                }
            },
            complete : function() {
                $("#getNumberAndsendCode").html("<span><a href=\"javascript:getNumberAndsendCode()\" class=\"bnumberPhone\">Valider</a></span>")

            },
            error : function(jqXHR) {
                console.log(jqXHR);
            }
        }) }

    function checkSentCode() {
        $.ajax({
            url : '/check-sent-code',
            type : 'POST',
            data : 'code=' + $("#code").val() ,
            dataType : 'json',
            beforeSend : function() {
                $("#checkSentCode").html("<div class=\"spinner\">\n" +
                    "  <div class=\"bounce1\"></div>\n" +
                    "  <div class=\"bounce2\"></div>\n" +
                    "  <div class=\"bounce3\"></div>\n" +
                    "</div>")

            },
            success : function(data) {
                console.log(data)
                console.log(data.success)
                if (data.message && data.title) {
                    if (data.success === true) {
                        if(data.info ===true){
                            showInfo(data.title,data.message);
                        }else {
                            showSuccess(data.title,data.message);
                        }
                        $('.verify').hide();
                        $('.newpass').fadeIn();

                    } else if (data.success === false) {
                        showError(data.title,data.message);
                        $("#checkSentCode").html("<span><a href=\"javascript:checkSentCode()\" class=\"bverify\">Valider</a></span>")
                         //$('.verify').hide();
                         //$('.newpass').fadeIn();
                    }
                }
            },
            complete : function() {
                $("#checkSentCode").html("<span><a href=\"javascript:checkSentCode()\" class=\"bverify\">Valider</a></span>")
            },
            error : function(jqXHR) {
                console.log(jqXHR);
            }
        }) }

    function resetPassword() {

        if ($("#passOne").val() === $("#passTwo").val()){
            $.ajax({
                url : '/reset-password',
                type : 'POST',
                data : 'password=' + $("#passOne").val() ,
                dataType : 'json',
                beforeSend : function() {
                    $("#resetPassword").html("<div class=\"spinner\">\n" +
                        "  <div class=\"bounce1\"></div>\n" +
                        "  <div class=\"bounce2\"></div>\n" +
                        "  <div class=\"bounce3\"></div>\n" +
                        "</div>")
                },
                success : function(data) {
                    console.log(data)
                    console.log(data.success)
                    if (data.message && data.title) {
                        if (data.success === true) {
                            if(data.info ===true){
                                showInfo(data.title,data.message);
                            }else {
                                showSuccess(data.title,data.message);
                            }
                            $('.newpass').hide();
                            $('.valid').fadeIn();

                        } else if (data.success === false) {
                            showError(data.title,data.message);
                            $("#resetPassword").html("<span><a href=\"javascript:resetPassword()\" class=\"bnewpass\">Valider</a></span>")

                            //$('.newpass').hide();
                           // $('.valid').fadeIn();
                        }
                    }
                },
                complete : function() {
                    $("#resetPassword").html("<span><a href=\"javascript:resetPassword()\" class=\"bnewpass\">Valider</a></span>")

                },
                error : function(jqXHR) {
                    console.log(jqXHR);
                }
            })
           }else {
            showError("Erreur","les deux mots de passe sont differents");
           }
         }

</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var message = [[${message}]];
    //alert(message);
    var title = [[${title}]];
    var info = [[${info}]];

    var success = [[${success}]];

    if (message && title) {
        if (success === true) {
            if(info ===true){
                showInfo(title,message);
            }else {
                showSuccess(title,message);
            }
        } else if (success === false) {
            showError(title,message);
        }
    }

    /*]]>*/
</script>

</body>
</html>
<!--Designed by DIGIT-A.L. -->