<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ESPACE CLIENT SAHAM ASSURANCE VIE</title>
<link rel="shortcut icon" href="img/favico.png">
<link rel="stylesheet" href="scss/style.css">
<link rel="stylesheet" href="scss/fontawesome/css/font-awesome.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/css/iziToast.min.css" rel="stylesheet">

</head>

<body>
<!--<div class="diverror"></div>-->
<div class="se-pre-con"></div>
<div class="content">
<!-- menu Mobile -->
<div class="divMob">
<div class="DivBlackMenu" ></div>
<div class="DivBlackMenuBlock">
<div class="w85">
<div class="DivBlackMenuBlockM">
            	<div class="DivProdLink" style="border-bottom:none">
                     <div  class="DivProdLinkLeft">
                    	<a href="#" class="BprodMenu_1">Consectetur adipisicing</a>
                     </div>
                     <div  class="DivProdLinkRight">
                    	<a href="#" class="BprodMenu_1">+</a>
                     </div>
            	</div>
                <div class="DprodMenu_1">
                <p class="BlockContainMenuLink">
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> Lorem ipsum dolor</a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> consectetur adipisicing</a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> elit sed do eiusmod </a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> tempor incididunt </a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> etdolore magna </a> 
                                </p>
                        </div>
                <div class="DivProdLink" style="border-bottom:none">
                     <div  class="DivProdLinkLeft">
                    	<a href="#" class="BprodMenu_2">Quis nostrud exercitation</a>
                     </div>
                     <div  class="DivProdLinkRight">
                    	<a href="#" class="BprodMenu_2">+</a>
                     </div>
            	</div>
                <div class="DprodMenu_2">
                <p class="BlockContainMenuLink">
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> Lorem ipsum dolor</a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> consectetur adipisicing</a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> elit sed do eiusmod </a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> tempor incididunt </a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> etdolore magna </a> 
                                </p>
                        </div>
                <div class="DivProdLink">
                     <div  class="DivProdLinkLeft">
                    	<a href="#" class="BprodMenu_3">Voluptate velit esse</a>
                     </div>
                     <div  class="DivProdLinkRight">
                    	<a href="#" class="BprodMenu_3">+</a>
                     </div>
            	</div>
                <div class="DprodMenu_3">
                <p class="BlockContainMenuLink">
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> Lorem ipsum dolor</a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> consectetur adipisicing</a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> elit sed do eiusmod </a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> tempor incididunt </a> 
                                 <a href=""><i class="fa fa-angle-right" aria-hidden="true"></i> etdolore magna </a> 
                                </p>
                        </div>
            </div>
            </div>
          </div>
</div>
<!-- fin menu mobile -->
<!-- header -->
<div class="header">
<div class="divWeb">
    <div class="container">
         
        
  <div class="row">
      <div class="column">
      	<div class="MenuHeadLeft">
        	<a href="#" class="bMenuUp"><i class="fa fa-bars" aria-hidden="true"></i> <span>Nos produits</span></a>
        </div>
      </div>
      <div class="column">
      	<div class="LogoheadCenter">
        	<img src="img/logo_saham_vie.svg" alt="Logo SAHAM ASSURANCE VIE" />
        </div>
      </div>
      <div class="column">
      	<div class="menuheadRight">
           <span class="LeftLink2"><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i></a></span>
            <span class="RightLink2"><a href="index.html"><i class="fa fa-power-off" aria-hidden="true"></i></a></span>
        </div>
      </div>
 </div>
        
    </div>
 </div>  
 <div class="divMob"> 
    <div class="DiheadMob">
    	<!--div class="DiheadMobLeft">
        <img src="img/logo_saham_vie.svg" alt="Logo SAHAM ASSURANCE VIE" />
        </div-->
        <div class="DiheadMobRight">
        <table width="100%" border="0">
  <tbody>
    <tr>
      <td align="left"><a href="index.html" ><i class="fa fa-home" aria-hidden="true"></i></a></td>
      <td align="center"><img src="img/logo_saham_vie.svg" alt="Logo SAHAM ASSURANCE VIE" /></td>
      <td align="right"><a href="#" class="bDivBlackMenuBlock"><i class="fa fa-bars" aria-hidden="true"></i></a></td>
    </tr>
  </tbody>
</table>

        
        
        
        </div>
    </div>
    </div>
</div>
<!-- fin header -->
<!-- menu up -->

<div class="MenuUp">

    <div class="BlockMenuUp">
        
        	<div class="w90">
            	<div class="ContainMenu" >
                    <div class="ContainMenuLeft">
                    	<!--p style="border-bottom:1px solid #e2e2e2; font-size:24px" >Nos produits</p-->
                        <div class="BlockContainMenu">
                        	<div class="BlockContainMenuDiv">
                            	<p class="BlockContainMenuTitre">Loremipsum dolor </p>
                                <p class="BlockContainMenuLink">
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Lorem ipsum dolor</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> consectetur adipisicing</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> elit sed do eiusmod </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> tempor incididunt </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> etdolore magna </a> 
                                </p>
                        	</div>
                            <div class="BlockContainMenuDiv">
                            	<p class="BlockContainMenuTitre">Consectetur </p>
                                <p class="BlockContainMenuLink">
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Lorem ipsum dolor</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> consectetur adipisicing</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> elit sed do eiusmod </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> tempor incididunt </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> etdolore magna </a> 
                                </p>
                        	</div>
                            <div class="BlockContainMenuDiv">
                            	<p class="BlockContainMenuTitre">Adipisicing elit</p>
                                <p class="BlockContainMenuLink">
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Lorem ipsum dolor</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> consectetur adipisicing</a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> elit sed do eiusmod </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> tempor incididunt </a> 
                                 <a href="produit.html"><i class="fa fa-angle-right" aria-hidden="true"></i> etdolore magna </a>  
                                </p>
                        	</div>
                        </div>
                    </div> 
                    <div  class="ContainMenuRight" >
                        <img src="img/doc_saham.png"  />
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="xMenuUp"></div>

 

<!-- fin menu up -->
<!-- fin body -->
<div class="BodyTop">
 
 <div class="w90">
    <div class="Divpage">
    	<div class="DivpageLeft" style="background:url(img/img_valide.jpg) top no-repeat;  ">
        	<div class="DivBlack"></div>
        </div>
        <div class="DivpageRight">
        
        	<div class="w70">
            	<div class="DivpageRightblock" >   	 
                     
                   	<div class="DivValide">   
                    	<p>                        
                           Votre compte <br>est désormais actif !
                        </p>      
                        <p><i class="fa fa-check" aria-hidden="true"></i>  </p>               
                        <div class="divWeb">
                            <span>
                                <a href="#">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> 
                                    Accédez à votre compte 
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </span>
                        </div>
                        <div class="divMob">
                        	<p class="BlackDesc"  style="font-weight:normal; font-size:18px">
                           Accedez à votre <b>espace client SAHAM Assurance Vie</b> avec l’application mobile
                     	   </p>
                           <p class="ImgSotre">
                           <a href="" target="_blank"><img src="img/google-play-630x217.jpg" /></a><br>
                           <a href="" target="_blank"><img src="img/Icone-Apple-Store.jpg" /></a></p>
                        </div>
                        <!--p><input type="submit" value="Valider" /> </p-->
                    </div>
                 
                </div>
            </div>
    
    	</div>
    </div>
    <!-- footer -->
<div class="bottom2">
SAHAM ASSURANCE VIE 2017 - TOUS DROITS RESERVES
</div>
<!-- fin footer -->
 </div>
</div>
<!-- fin body -->
 
</div>
<script src="js/jquery.min.js"></script>
<script src="js/precon.js"></script>
<script src="js/popup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.1.5/js/iziToast.min.js"></script>
<script src="js/main.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var message = [[${message}]];
    //alert(message);
    var title = [[${title}]];
    var info = [[${info}]];

    var success = [[${success}]];

    if (message && title) {
        if (success === true) {
            if(info ===true){
                showInfo(title,message);
            }else {
                showSuccess(title,message);
            }
        } else if (success === false) {
            showError(title,message);
        }
    }

    /*]]>*/
</script>
 

</body>
</html>
<!--Designed by DIGIT-A.L. -->